In [5]:
#Los indices por defecto son 0,1,2 como un array de datos
import pandas as pd
ventas=pd.Series([15,12,21])
ventas

0    15
1    12
2    21
dtype: int64

In [6]:
#Los indices van a ser definidos en una lista que se asigna a la variable index
import pandas as pd
ventas=pd.Series([15,12,21],index=['Ene','Feb','Mar'])
ventas

Ene    15
Feb    12
Mar    21
dtype: int64

In [8]:
#Extraer elementos de la serie pueden extraerse con el nombre de la serie y entre corchetes, el indice
#(posicion) del elemento
ventas[0]

15

In [9]:
#Extraer elementos de la serie pueden extraerse con el nombre de la serie y entre corchetes, el indice
#(posicion) del elemento o con su etiqueta si se tiene
ventas['Ene']

15

In [11]:
#Una serie o columna en pandas solo puede contener datos de un mismo tipo
#Ver tipo de dato de una serie
ventas.dtype

dtype('int64')

In [12]:
#Se puede acceder a los objetos que contiene los indices y valores mediante los atributos index y values 
#de forma respectiva

#Acceder a los indices
ventas.index

Index(['Ene', 'Feb', 'Mar'], dtype='object')

In [13]:
#Se puede acceder a los objetos que contiene los indices y valores mediante los atributos index y values 
#de forma respectiva

#Acceder a los valores
ventas.values

array([15, 12, 21])

In [14]:
#La serie tiene un atributo name que se encuentra en el indice, una vez fijado se muestra en la estructura
#al imprimir

ventas.name="Ventas 2020"
ventas.name

'Ventas 2020'

In [15]:
ventas

Ene    15
Feb    12
Mar    21
Name: Ventas 2020, dtype: int64

In [16]:
#Tambien podemos asignarle un nombre al indice de la serie
ventas.index.name="Meses"
ventas

Meses
Ene    15
Feb    12
Mar    21
Name: Ventas 2020, dtype: int64

In [17]:
#Atribuito axes da un acceso a una lista con los ejes de la serie que contiene un elemento al tratarse 
#de una estructura unidimensional
ventas.axes

[Index(['Ene', 'Feb', 'Mar'], dtype='object', name='Meses')]

In [18]:
#Atributo shape devuelve el tamaño de la serie
ventas.shape

(3,)

# DataFrame

Conjunto conformado por varias series o columnsa indexadas

In [24]:
#Crear un Dataframe a partir de las ventas en una tienda de frutas, donde se tendra una columna por cada fruta
#y una columna por cada compra del cliente

datos={'manzanas':[3,2,0,1],'naranjas':[0,3,7,2]}
print(datos)

{'manzanas': [3, 2, 0, 1], 'naranjas': [0, 3, 7, 2]}

In [25]:
#SE lo voy a pasar a pandas y creo un DATAFRAME
compras=pd.DataFrame(datos)
compras

   manzanas  naranjas
0         3         0
1         2         3
2         0         7
3         1         2

In [26]:
#Cada elemento (Clave-valor) en datos corresponde a una columna en el DataFrame resultante
#El indice en el dataframe se dio en la crecion como 0,1,2. Tambien se pudo haber añadido un indice en la creacion

compras=pd.DataFrame(datos, index=['Juno','Robert','Lily','David'])
compras

        manzanas  naranjas
Juno           3         0
Robert         2         3
Lily           0         7
David          1         2

In [27]:
#las etiquetas de filas y columnas son accesibles a partir de sus indices o sus etiquetas 
compras.index

Index(['Juno', 'Robert', 'Lily', 'David'], dtype='object')

In [28]:
#las etiquetas de filas y columnas son accesibles a partir de sus indices o sus etiquetas 
compras.columns

Index(['manzanas', 'naranjas'], dtype='object')

In [29]:
#El atributo axes devuelve una lista con los ejes o indices de la estructura(2 al tratarse como una estructura)
#Bidimensional
compras.axes

[Index(['Juno', 'Robert', 'Lily', 'David'], dtype='object'),
 Index(['manzanas', 'naranjas'], dtype='object')]

In [31]:
#Todo indice de columnas y filas tiene un atributo name que podemos asignarle al imprimir la estructura

#Asignar name a la fila index del dataframe
compras.index.name="Clientes"
#Asignar name a la columna del dataframe
compras.columns.name="Frutas"
compras

Frutas    manzanas  naranjas
Clientes
Juno             3         0
Robert           2         3
Lily             0         7
David            1         2

In [32]:
#Atributo values permite acceder a los valores del DataFrame con formato array Numpy 2dimensiones
compras.values

array([[3, 0],
       [2, 3],
       [0, 7],
       [1, 2]])

In [33]:
#Atributo shape informa la dimension y el numero de elementos en cada dimension
#En este ejemplo, compras tiene 4 filas y 2 columnas

compras.shape

(4, 2)

In [34]:
#Creacion de series
#pandas.Series; este constructor acepta 3 parametros

#data: Estructura de datos tipo array, iterable, diccionario o valor escalar 
#index: estructura tipo array con la misma longitud que los datros
#dtype: tipo de datos para la serie

s=pd.Series([7,5,3])
s

0    7
1    5
2    3
dtype: int64

In [36]:
#Creacion de series
#pandas.Series; este constructor acepta 3 parametros

#data: Estructura de datos tipo array, iterable, diccionario o valor escalar 
#index: estructura tipo array con la misma longitud que los datros
#dtype: tipo de datos para la serie

s=pd.Series([7,5,3],index=['Ene','Feb','Mar'])
s

Ene    7
Feb    5
Mar    3
dtype: int64

In [38]:
#Utilizando un diccionario
d={'Ene':7,'Feb':5,'Mar':3}
print(d)
s=pd.Series(d)
s

{'Ene': 7, 'Feb': 5, 'Mar': 3}

Ene    7
Feb    5
Mar    3
dtype: int64

In [40]:
#Utilizando un diccionario
#Utilizando las claves como etiquetas del indice y los valores del diccionario como valores de la serie
#Si se incluye un indice explicitamente en el constructor, los valores en la serie tomaran en el orden en el 
#esten en el indice explicito. Si en este hay valores que no pertenecen al conjunto de claves del diccionario
#se añaden a la serie con un valor NaN

d={'Ene':7,'Feb':5,'Mar':3}
print(d)
s=pd.Series(d, index=['Abril','Mar','Feb','Ene'],dtype=int)
s

{'Ene': 7, 'Feb': 5, 'Mar': 3}

Abril    NaN
Mar      3.0
Feb      5.0
Ene      7.0
dtype: float64