In [1]:
import pandas as pd
ventas=pd.Series([15,12,21])
ventas

0    15
1    12
2    21
dtype: int64

In [2]:
import pandas as pd
ventas=pd.Series([15,12,21],index=['Ene','Feb','Mar'])
ventas

Ene    15
Feb    12
Mar    21
dtype: int64

In [4]:
#Extraer informacion de una serie mediante el indice
ventas[0]

15

In [5]:
#Extraer informacion de una serie mediante la etiqueta del indice 
ventas['Feb']

12

In [6]:
#Observamos el tipo de datos de la Serie de pandas
ventas.dtype

dtype('int64')

In [7]:
#Vemos los indices de las filas que estan en la serie
ventas.index

Index(['Ene', 'Feb', 'Mar'], dtype='object')

In [8]:
#Vemos los valores en la serie
ventas.values

array([15, 12, 21])

In [9]:
#DEfinir el nombre de la Serie
ventas.name="Ventas 2021"
ventas

Ene    15
Feb    12
Mar    21
Name: Ventas 2021, dtype: int64

In [ ]:
#Definimos el nombre el indice de filas
ventas.index.name="Meses"
ventas

In [11]:
#Devuelve los ejes del arreglo, en este caso una Serie es una estructura unidimensional
ventas.axes

[Index(['Ene', 'Feb', 'Mar'], dtype='object')]

In [12]:
#Atributo shape permite definir cuantos elementos tiene la serie
ventas.shape

(3,)

In [13]:
datos={'manzanas':[3,2,0,1],'naranjas':[0,3,7,2]}
print(datos)

{'manzanas': [3, 2, 0, 1], 'naranjas': [0, 3, 7, 2]}

In [15]:
#Creo un DataFrame con los datos almacenados en un diccionario
#Los indices de las filas por defecto estan de 0 en adelante
compras=pd.DataFrame(datos)
compras

   manzanas  naranjas
0         3         0
1         2         3
2         0         7
3         1         2

In [16]:
#Creo un DataFrame con los datos almacenados en un diccionario
#Los indices de las filas van a ser definidos en el atributo index
compras=pd.DataFrame(datos, index=['Juan','Isabela','Carlos','Johan'])
compras

         manzanas  naranjas
Juan            3         0
Isabela         2         3
Carlos          0         7
Johan           1         2

In [18]:
#Creo un DataFrame con los datos almacenados en un diccionario
#Los indices de las filas van a ser definidos en el atributo index
lista=['Juan','Isabela','Carlos','Johan']
compras=pd.DataFrame(datos, index=lista)
compras

         manzanas  naranjas
Juan            3         0
Isabela         2         3
Carlos          0         7
Johan           1         2

In [23]:
#Yo puedo ver los elementos asignados a cada columna
#Mediant el nombre del dataframe, unos corchetes y despues del corche el nombre de 
#de la columna entre comillas 
compras['manzanas']

Juan       3
Isabela    2
Carlos     0
Johan      1
Name: manzanas, dtype: int64

In [19]:
#Vamos a ver los indices de las filas
compras.index

Index(['Juan', 'Isabela', 'Carlos', 'Johan'], dtype='object')

In [20]:
#Vamos a ver los indices de columnas
compras.index

Index(['Juan', 'Isabela', 'Carlos', 'Johan'], dtype='object')

In [25]:
#Metodo axes permite mirar la estructura de los ejes del Dataframe
compras.axes

[Index(['Juan', 'Isabela', 'Carlos', 'Johan'], dtype='object'),
 Index(['manzanas', 'naranjas'], dtype='object')]

In [29]:
#Vamos a cambiar el nombre del eje de columnas y el eje de las filas 
compras.index.name='Clientes'
compras.columns.name='Frutas'
compras.name="Tienda mayorista"
print(compras.name)
compras

Tienda mayorista

Frutas    manzanas  naranjas
Clientes
Juan             3         0
Isabela          2         3
Carlos           0         7
Johan            1         2

In [30]:
compras.values

array([[3, 0],
       [2, 3],
       [0, 7],
       [1, 2]])

In [32]:
#El atributo shape me indica la dimension del Dataframe
#Es decir el numero de filas y columnas que contiene su estructura
compras.shape

(4, 2)

In [34]:
#Como podemos crear una SERIE en pandas
# UTilizamos el constructor SERIES
#Crear una serie a partir de una lista
s=pd.Series([7,5,3])
s

0    7
1    5
2    3
dtype: int64

In [35]:
#Como podemos crear una SERIE en pandas
# UTilizamos el constructor SERIES
#Crear una serie a partir de una lista
#Yo puedo definir los indices de las Filas en una serie
s=pd.Series([7,5,3],index=['Ene','Feb','Mar'])
s

Ene    7
Feb    5
Mar    3
dtype: int64

In [36]:
#Como podemos crear una SERIE en pandas
# UTilizamos el constructor SERIES
#Crear una serie a partir de una lista
#Yo puedo definir los indices de las Filas en una serie
lista=['Ene','Feb','Mar']
s=pd.Series([7,5,3],index=lista)
s

Ene    7
Feb    5
Mar    3
dtype: int64

In [37]:
#Como podemos crear una SERIE en pandas
# UTilizamos el constructor SERIES
#Crear una serie a partir de una lista
#Yo puedo definir los indices de las Filas en una serie
lista=['Ene','Feb','Mar','Abr']
s=pd.Series([7,5,3],index=lista)
s

ValueError: Length of values (3) does not match length of index (4)

In [40]:
#La forma de crear una serie a partir de un diccionario donde cada palabra clave
#se a a convertir en una etiqueta en el indice de las filas, y los valores 
#de las claves en el diccionario se van a convertir en los valores de la columna
d={'Ene':31,'Feb':5,'Mar':8}
print(d)
s=pd.Series(d)
s

{'Ene': 31, 'Feb': 5, 'Mar': 8}

Ene    31
Feb     5
Mar     8
dtype: int64

In [41]:
#La forma de crear una serie a partir de un diccionario donde cada palabra clave
#se a a convertir en una etiqueta en el indice de las filas, y los valores 
#de las claves en el diccionario se van a convertir en los valores de la columna
d={'Ene':31,'Feb':5,'Mar':8}
print(d)
lista1=['Abr','Mar','Feb','Ene']
s=pd.Series(d,index=lista1)
s

{'Ene': 31, 'Feb': 5, 'Mar': 8}

Abr     NaN
Mar     8.0
Feb     5.0
Ene    31.0
dtype: float64

In [43]:
#Crear un dataframe a partir de un diccionario
import pandas as pd
datos=[
    {
     'columna1':1,
     'columna2':2
    },
    {
     'columna1':10,
     'columna2':20 
    },
    {
     'columna3':'Hola mundo'
    }
]
print(datos)

[{'columna1': 1, 'columna2': 2}, {'columna1': 10, 'columna2': 20}, {'columna3': 'Hola mundo'}]

In [44]:
#Voy a convertir la lista con diccionario en un dataframe
datos_dt=pd.DataFrame(datos)
datos_dt

   columna1  columna2    columna3
0       1.0       2.0         NaN
1      10.0      20.0         NaN
2       NaN       NaN  Hola mundo