In [1]:
import pandas as pd
ventas=pd.Series([15,12,21])
ventas

0    15
1    12
2    21
dtype: int64

In [2]:
import pandas as pd
ventas=pd.Series([15,12,21], index=['Ene','Feb','Mar'])
ventas

Ene    15
Feb    12
Mar    21
dtype: int64

In [5]:
#Acceder a los elementos de una serie
print(ventas[0])
print(ventas[2])

15
21

In [7]:
#Acceder a los elementos de una serie mediante las etiquetas que hemos definido 
#anteriormente
print(ventas['Ene'])
print()
print(ventas['Mar'])

15

21

In [9]:
#Datos de una serie
ventas.dtype

dtype('int64')

In [10]:
#Acceder a los indices de la serie
ventas.index

Index(['Ene', 'Feb', 'Mar'], dtype='object')

In [11]:
#Acceder a los valores de una serie
ventas.values

array([15, 12, 21])

In [12]:
#Atributo name
ventas.name="Ventas 2021"
ventas

Ene    15
Feb    12
Mar    21
Name: Ventas 2021, dtype: int64

In [14]:
#Atributo name en el indice
ventas.index.name="Meses"
ventas

Meses
Ene    15
Feb    12
Mar    21
Name: Ventas 2021, dtype: int64

In [15]:
ventas.axes

[Index(['Ene', 'Feb', 'Mar'], dtype='object', name='Meses')]

In [17]:
#El atributo shape devuelve el numero de elementos, en este caso de la serie ventas
ventas.shape

(3,)

In [23]:
#Crear un DataFrame a partir de un diccionario
datos={'manzanas':[3,2,0,1],'naranjas':[0,3,7,2]}

#VOy a covertirlo en un pandas
compras=pd.DataFrame(datos)
compras

   manzanas  naranjas
0         3         0
1         2         3
2         0         7
3         1         2

In [25]:
#Crear un DataFrame a partir de un diccionario
datos={'manzanas':[3,2,0,1],'naranjas':[0,3,7,2]}

#VOy a covertirlo en un pandas
compras=pd.DataFrame(datos,index=['Juno','Robert','Lily','David'])
compras

        manzanas  naranjas
Juno           3         0
Robert         2         3
Lily           0         7
David          1         2

In [28]:
#Puedo ver los indices o etiquetas de las filas
#Del dataframe
compras.index

Index(['Juno', 'Robert', 'Lily', 'David'], dtype='object')

In [29]:
#Puedo ver los indices o etiquetas de las columnas
#Del dataframe
compras.columns

Index(['manzanas', 'naranjas'], dtype='object')

In [32]:
#Podemos acceder a partir de las etiquetas a los valores
#En las columnas o series de un dataframe
compras['manzanas']

Juno      3
Robert    2
Lily      0
David     1
Name: manzanas, dtype: int64

In [34]:
compras['naranjas']

Juno      0
Robert    3
Lily      7
David     2
Name: naranjas, dtype: int64

In [35]:
compras.index

Index(['Juno', 'Robert', 'Lily', 'David'], dtype='object')

In [36]:
compras.columns

Index(['manzanas', 'naranjas'], dtype='object')

In [37]:
compras.axes

[Index(['Juno', 'Robert', 'Lily', 'David'], dtype='object'),
 Index(['manzanas', 'naranjas'], dtype='object')]

In [38]:
#Atributo values
compras.values

array([[3, 0],
       [2, 3],
       [0, 7],
       [1, 2]])

In [39]:
#Atributo shape me devuelve la dimension de un dataframe
compras.shape

(4, 2)

In [40]:
#Crear serie en pandas
s=pd.Series([7,5,3])
s

0    7
1    5
2    3
dtype: int64

In [41]:
#Crear serie en pandas, con el atributo index
s=pd.Series([7,5,3],index=['Ener','Feb','Mar'])
s

Ener    7
Feb     5
Mar     3
dtype: int64

In [43]:
#Crear serie en pandas, con el atributo index
#LA longitud de la lista de index debe coincidir con los datos
#que se pasan cuando la crea la serie
s=pd.Series([7,5,3],index=['Ener','Feb','Mar','Abril'])
s

ValueError: Length of values (3) does not match length of index (4)

In [44]:
#Crear serie en pandas, con el atributo index
#LA longitud de la lista de index debe coincidir con los datos
#que se pasan cuando la crea la serie
s=pd.Series([7,5,3,4],index=['Ener','Feb','Mar'])
s

ValueError: Length of values (4) does not match length of index (3)

In [46]:
#Vamos a crear una serie a partir de un diccionario
d={'Ene':2,'Feb':19,'Mar':21}
print(d)
s=pd.Series(d)
s

{'Ene': 2, 'Feb': 19, 'Mar': 21}

Ene     2
Feb    19
Mar    21
dtype: int64

In [49]:
#Vamos a crear una serie a partir de un diccionario
d={'Ene':2,'Feb':19,'Mar':21}
print(d)
s=pd.Series(d, index=['Abril','Mar','Feb','Ene'], dtype=int)
s
#Como la etiqueta de la fila abril no tiene ningun valor en el diccionario d,
#pandas le coloca un valor por defecto, en este caso Nan para referir que no tiene ningun 
#Valor,sin embargo, ese atributo NaN, hace que todos los elementos de la serie sean de tipo flotante

s.name='Meses del Año'
s.index.name='Meses'
s

{'Ene': 2, 'Feb': 19, 'Mar': 21}

Meses
Abril     NaN
Mar      21.0
Feb      19.0
Ene       2.0
Name: Meses del Año, dtype: float64

In [51]:
import pandas as pd
datos=[
    {
        'columna1':1,
        'colunma2':93,
    },
    {
        'columna1':3,
        'colunma2':94,
    },
    {
        'columna3':'Hola mundo',
    }
]
print(datos)

#Voy a convertir en un dataframe

df2=pd.DataFrame(datos)
df2

[{'columna1': 1, 'colunma2': 93}, {'columna1': 3, 'colunma2': 94}, {'columna3': 'Hola mundo'}]

   columna1  colunma2    columna3
0       1.0      93.0         NaN
1       3.0      94.0         NaN
2       NaN       NaN  Hola mundo

In [52]:
df2['columna3']

0           NaN
1           NaN
2    Hola mundo
Name: columna3, dtype: object