In [1]:
import pandas as pd
s=pd.Series([5,2,-3,7,8,4])
s

0    5
1    2
2   -3
3    7
4    8
5    4
dtype: int64

In [2]:
s[[True,False,False,True,True,False]]

0    5
3    7
4    8
dtype: int64

In [3]:
s1=[True,False,False,True,True,False]
print(s1)
s1=pd.Series(s1)
s1

[True, False, False, True, True, False]

0     True
1    False
2    False
3     True
4     True
5    False
dtype: bool

In [4]:
print(type(s>2))
s>2

<class 'pandas.core.series.Series'>

0     True
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [5]:
s[s>2]

0    5
3    7
4    8
5    4
dtype: int64

# Metodo loc

In [6]:
var=s.loc[[True,False,False,True,True,False]]
print(var)

0    5
3    7
4    8
dtype: int64

In [7]:
var1=s.loc[s>2]
print(var1)

0    5
3    7
4    8
5    4
dtype: int64

# Metodo iloc

In [8]:
var2=s.iloc[[True,False,False,True,True,False]]
print(var2)

0    5
3    7
4    8
dtype: int64

In [9]:
#SIn embargo el metodo iloc devuelve un error con una condicion
s.iloc[s>2]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [ ]:
s.iloc[[ True, False, False,  True,  True,  True]]

In [ ]:
# Si el objeto que está generando la estructura de booleanos (s, en s > 2) fuese un array NumPy en lugar de
# tratarse de una serie pandas, sí sería posible usar el método .iloc. De esta forma, la expresión s > 2
# genera, como hemos visto, una serie pandas, pero podemos extraer los valores con el atributo values, que
# genera un array numpy
type((s>2).values)

In [ ]:
(s>2).values

In [ ]:
a=(s>2).values
print(a)

In [ ]:
# Si usamos esta expresión para realizar la selección en la serie original s, el resultado es ahora el
# correcto
s.iloc[(s>2).values]

# Seleccion con indices y etiquetas simultaneamente

### get_loc

Devuelve el indice de la etiqueta que se adjunte como parametro

### get_indexer

Devuelve un array con los indices de las etiquetas que se adjunten en forma de lista como parameto

In [ ]:
import numpy as np
#Arange crea unos valores aleatorias de 0 a 18
#Reshape crea una matriz de dimension 6*3
df=pd.DataFrame(np.arange(18).reshape([6,3]),
               index=['a','b','c','d','e','f'],
               columns=['A','B','C'])
df

In [ ]:
#Aplicar metodos al indice de columnas haciendo referencia a las etiquetas de columnas
df.columns.get_loc("B")

In [ ]:
#Aplicar metodos al indice de columnas haciendo referencia a las etiquetas de columnas
df.columns.get_indexer(['A','C'])
# En el primer caso hemos pasado la etiqueta "B" y el método ha devuelto su índice (1). En el segundo caso
# hemos pasado una lista de etiquetas y hemos obtenido un array con sus índices.

In [ ]:
#Ejecutar estos metodo en los indices de filas, se obtienen resultados semejantes
df.index.get_loc("d")

In [ ]:
df.index.get_indexer(['c','e'])

In [ ]:
#Obtener el dato que ocupa la fila c y la columna del indice 2 mediante el metodo iloc
df.iloc[df.index.get_loc('c'),2]

In [ ]:
#Obtener los datos de las filas 5 y 3 y los valores correspondientes a las columnas C y A en este orden
df.iloc[[5,3]]

In [ ]:
#Obtener los datos de las filas 5 y 3 y los valores correspondientes a las columnas C y A en este orden
df.iloc[[5,3],df.columns.get_indexer(['C','A'])]

# Uso de listas de booleanos

In [ ]:
import numpy as np
#Arange crea unos valores aleatorias de 0 a 18
#Reshape crea una matriz de dimension 6*3
df=pd.DataFrame(np.arange(18).reshape([6,3]),
               index=['a','b','c','d','e','f'],
               columns=['A','B','C'])
df

In [ ]:
mask=[True,False,True,False,False,True]
print(mask)

In [ ]:
#Este metodo permite seleccionar filas del Dataframe
df[mask]

# El vector de booleanos deberá tener la misma longitud que el índice de filas (es decir, un booleano por fila)
# y la selección devolverá aquellas filas para las que el elemento correspondiente del vector tome el valor
# True.

# Filtrado de datos

In [ ]:
#La mascara se genera a partir de los datos del propio dataframe, por ejemplo si queremos seleccionar las
#filas para las que el valor de la columna A sea mayor que 7
df[df.A>7]

In [ ]:
#La mascara se genera a partir de los datos del propio dataframe, por ejemplo si queremos seleccionar las
#filas para las que el valor de la columna A sea mayor que 7
df[df['A']>7]

In [ ]:
# Este tipo de filtrados resultan muy frecuentes en entornos de análisis, de ahí que la posibilidad de
# realizarlos sin necesidad de recurrir a métodos adicionales (loc, iloc o get, por ejemplo) resulte tan
# conveniente.
# Aun así, esta técnica también es compatible con los métodos loc e iloc, con algún matiz adicional:

# Con loc podemos usar directamente una expresión de comparación como la vista

df.loc[df.B>6]

In [ ]:
# Sin embargo, con iloc nos veremos obligados a extraer los valores del dataframe resultante de la
# comparación tal y como ocurría con las series- pues, de otro modo, obtendremos un error

#Por lo tanto utilizamos el metodo values
df.iloc[(df.B>6).values]

# Seleccion aleatoria, metodo sample

Este metodo permite especificar el numero de elementos a extraer o el porcentaje respecto del total, parametros n y frac respectivamente, si la extracion se realiza con remplazo o no (parametro **repĺace**). Los pesos a aplicar a los elementos para realizar una extraccion aleatoria (**weights**) y una semilla para generador de numeros aleatorios (**random_state**). Tambien se puede indicar el eje de la extraccion, por defecto se extran filas, correspondientes al eje 0.

In [10]:
import numpy as np
#Arange crea unos valores aleatorias de 0 a 18
#Reshape crea una matriz de dimension 6*3
df=pd.DataFrame(np.arange(18).reshape([6,3]),
               index=['a','b','c','d','e','f'],
               columns=['A','B','C'])
df

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

In [11]:
#Extraer 3 filas de forma aleatoria sin remplazo, opcion por defecto, fijando como semilla del generador de
#numeros aleatorios el numero 18
df.sample(3)

    A   B   C
b   3   4   5
e  12  13  14
f  15  16  17

In [12]:
#Extraer 3 filas de forma aleatoria sin remplazo, opcion por defecto, fijando como semilla del generador de
#numeros aleatorios el numero 18
df.sample(3,random_state=18)

    A   B   C
f  15  16  17
e  12  13  14
b   3   4   5

In [13]:
#Si especificamos como eje el valor 1, estamos extrayendo columnas
df.sample(2,random_state=18, axis=1)

    A   B
a   0   1
b   3   4
c   6   7
d   9  10
e  12  13
f  15  16

In [14]:
#Uso del parametro FRAC, especificamos el porcentaje de elementos a extraer, en este caso el 60 por ciento
df.sample(frac=0.6,random_state=18)

    A   B   C
f  15  16  17
e  12  13  14
b   3   4   5
a   0   1   2

# Metodo POP

Extrae y elimina una columna de un dataframe

In [43]:
import numpy as np
#Arange crea unos valores aleatorias de 0 a 18
#Reshape crea una matriz de dimension 6*3
df=pd.DataFrame(np.arange(15).reshape([3,5]),
               index=['a','b','c'],
               columns=['A','B','C','D','E'])
df

    A   B   C   D   E
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14

In [44]:
# El metodo pop requiere un argumento de la columna a eliminar, si la columna no se encuentra genera error
columna=df.pop('B')
print(columna)

a     1
b     6
c    11
Name: B, dtype: int64

In [45]:
df

    A   C   D   E
a   0   2   3   4
b   5   7   8   9
c  10  12  13  14

In [46]:
#Eliminacion de una fila del dataframe
df=df.drop('a')
df

    A   C   D   E
b   5   7   8   9
c  10  12  13  14

In [47]:
#Eliminar una columna con el metodo drop
df=df.drop(columns='E')
df

    A   C   D
b   5   7   8
c  10  12  13

In [48]:
# Para editar realmente el DataFrame original, el parámetro "inplace" se puede establecer en True 
# y no se devuelve ningún valor.
df.drop(columns='C',inplace=True)
df

    A   D
b   5   8
c  10  13

# Eliminacion de series metodos pop y drop

Devuelve una copia de la serie tras eliminar elemento cuya etiqueta se especifica como argumento

In [23]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [24]:
r=s.drop('b') #SI la etiqueta no se encuentra en la serie, devuelve un erro
r

a    1
c    3
d    4
e    5
dtype: int64

In [25]:
r=s.drop(['d','a'])
r

# Las etiquetas no tienen que estar en orden. El argumento inplace = True realiza la eliminación inplace
# (modificando directamente la serie).

# Las etiquetas no tienen que estar en orden. El argumento inplace = True realiza la eliminación inplace
# (modificando directamente la serie).

b    2
c    3
e    5
dtype: int64

In [39]:
# Para editar realmente el DataFrame original, el parámetro "inplace" se puede establecer en True 
# y no se devuelve ningún valor.
s.drop('e',inplace = True)
s

a    1
b    2
c    3
d    4
dtype: int64

In [40]:
# Para editar realmente el DataFrame original, el parámetro "inplace" se puede establecer en True 
# y no se devuelve ningún valor.
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [41]:
s.drop('b',inplace = True)
s

a    1
c    3
d    4
e    5
dtype: int64

# Metodo where

Permite filtrar los valores de una serie de forma que solo los que cumplan una condicion se mantengan, los valores que no cumplan son sustituidis por un valor Nan por defecto

In [49]:
s=pd.Series(np.arange(0,10))
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [54]:
#Filtrar los valores pares, los valores que no cumplen la condicion tienen el valor por defecto NaN
v=s.where(s%2==0)
v

0    0.0
1    NaN
2    2.0
3    NaN
4    4.0
5    NaN
6    6.0
7    NaN
8    8.0
9    NaN
dtype: float64

In [55]:
#Filtrar los valores pares, se puede colocar un valor por defecto a los que no cumplen la condicion, por 
#ejemplo el valor -1
v=s.where(s%2==0,-1)
v

0    0
1   -1
2    2
3   -1
4    4
5   -1
6    6
7   -1
8    8
9   -1
dtype: int64

# Edicion de DataFrame

Modificar los valores usando metodo loc o iloc, en funcion de que queramos usar etiquetas o indices

In [56]:
import numpy as np
#Arange crea unos valores aleatorias de 0 a 18
#Reshape crea una matriz de dimension 6*3
df=pd.DataFrame(np.arange(12).reshape([4,3]),
               index=['a','b','c','d'],
               columns=['A','B','C'])
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [58]:
#Editar valor en la fila 1, columna 2, colocar el valor -1
df.iloc[1,2]=-1
df

   A   B   C
a  0   1   2
b  3   4  -1
c  6   7   8
d  9  10  11

In [61]:
#Modificar una columna completa seleccionandola y asignandole una lista con los nuevos valores
import numpy as np
#Arange crea unos valores aleatorias de 0 a 18
#Reshape crea una matriz de dimension 6*3
df=pd.DataFrame(np.arange(12).reshape([4,3]),
               index=['a','b','c','d'],
               columns=['A','B','C'])
print(df)
print()
df['A']=[10,20,30,40]
df

# En este caso, la longitud de la lista conteniendo los valores a insertar deberá coincidir con la longitud de la
# columna, salvo que en lugar de una lista se esté asignando un único valor, en cuyo caso se propagará a toda la
# columna

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

    A   B   C
a  10   1   2
b  20   4   5
c  30   7   8
d  40  10  11

In [62]:
#Modificar una columna completa seleccionandola y asignandole una lista con los nuevos valores
import numpy as np
#Arange crea unos valores aleatorias de 0 a 18
#Reshape crea una matriz de dimension 6*3
df=pd.DataFrame(np.arange(12).reshape([4,3]),
               index=['a','b','c','d'],
               columns=['A','B','C'])
print(df)
print()
df['A']=10
df

# En este caso, la longitud de la lista conteniendo los valores a insertar deberá coincidir con la longitud de la
# columna, salvo que en lugar de una lista se esté asignando un único valor, en cuyo caso se propagará a toda la
# columna

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

    A   B   C
a  10   1   2
b  10   4   5
c  10   7   8
d  10  10  11

In [65]:
# Si la selección es un bloque de datos de un tamaño arbitrario, nos encontramos en el mismo escenario: o
# bien insertamos datos con el mismo tamaño que la selección, o insertamos un único valor que se
# propagará a toda la selección. Veamos el primer caso
import numpy as np
#Arange crea unos valores aleatorias de 0 a 18
#Reshape crea una matriz de dimension 6*3
df=pd.DataFrame(np.arange(12).reshape([4,3]),
               index=['a','b','c','d'],
               columns=['A','B','C'])
print(df)
print()

# En este ejemplo hemos seleccionado un bloque de 2x2, y
# hemos insertado datos con una estructura de las mismas
# dimensiones.

df.loc['b':'c','A':'B']=[[-1,-2],[-3,-4]]
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

   A   B   C
a  0   1   2
b -1  -2   5
c -3  -4   8
d  9  10  11

In [67]:
# Si la selección es un bloque de datos de un tamaño arbitrario, nos encontramos en el mismo escenario: o
# bien insertamos datos con el mismo tamaño que la selección, o insertamos un único valor que se
# propagará a toda la selección. Veamos el primer caso
import numpy as np
#Arange crea unos valores aleatorias de 0 a 18
#Reshape crea una matriz de dimension 6*3
df=pd.DataFrame(np.arange(12).reshape([4,3]),
               index=['a','b','c','d'],
               columns=['A','B','C'])
print(df)
print()

# En este ejemplo hemos seleccionado un bloque de 2x2, y
# hemos insertado datos con una estructura de las mismas
# dimensiones.

# df.loc['b':'c','A':'B']=[-1]
df.loc['b':'c','A':'B']=-1
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

   A   B   C
a  0   1   2
b -1  -1   5
c -1  -1   8
d  9  10  11