In [1]:
elementos={
    'Numero atomico':[1,6,47,88],
    'Masa atomico':[1.008,12.001,107.87,226],
    'familia':['No metal','No metal','Metal','Metal']
}

elementos

{'Numero atomico': [1, 6, 47, 88],
 'Masa atomico': [1.008, 12.001, 107.87, 226],
 'familia': ['No metal', 'No metal', 'Metal', 'Metal']}

In [2]:
import pandas as pd
tabla_periodica=pd.DataFrame(elementos)
tabla_periodica

   Numero atomico  Masa atomico   familia
0               1         1.008  No metal
1               6        12.001  No metal
2              47       107.870     Metal
3              88       226.000     Metal

In [3]:
unidades_datos={
    'Ag':[2,4,3],
    'Au':[5,6,2],
    'Pt':[2,2,1],
    'Cu':[3,7,4]
}
import pandas as pd
tabla_periodica=pd.DataFrame(unidades_datos, index=[2015,2016,2017],columns=['Ag','Au','Cu','Pt'])
tabla_periodica

      Ag  Au  Cu  Pt
2015   2   5   3   2
2016   4   6   7   2
2017   3   2   4   1

In [6]:
#DataFrame a partir de varios diccionarios
unidades_2015={'Ag':2,'Au':5,'Cu':3,'Pt':2}
unidades_2016={'Ag':4,'Au':6,'Cu':7,'Pt':2}
#Si una etiqueta no esta, se asigna un valor por defecto NaN
unidades_2017={'Ag':3,'Au':2,'Cu':4}

import pandas as pd
tabla_periodica=pd.DataFrame([unidades_2015,unidades_2016,unidades_2017], index=[2015,2016,2017],columns=['Ag','Au','Cu','Pt'])
tabla_periodica

      Ag  Au  Cu   Pt
2015   2   5   3  2.0
2016   4   6   7  2.0
2017   3   2   4  NaN

In [9]:
# En este ejemplo, el año 2017 tiene una clave, Pb, que no existe en los otros dos diccionarios. Y este
# mismo año carece de la clave Au que sí se encuentra en los otros dos. Vemos cómo los datos no
# coincidentes se han rellenado con NaN

#DataFrame a partir de varios diccionarios
unidades_2015={'Ag':2,'Au':5,'Cu':3,'Pt':2}
unidades_2016={'Ag':4,'Au':6,'Cu':7,'Pt':2}
#Si una etiqueta no esta, se asigna un valor por defecto NaN
unidades_2017={'Ag':3,'Cu':4,'Pb':5}

import pandas as pd
tabla_periodica=pd.DataFrame([unidades_2015,unidades_2016,unidades_2017], index=[2015,2016,2017])
tabla_periodica

      Ag   Au  Cu   Pt   Pb
2015   2  5.0   3  2.0  NaN
2016   4  6.0   7  2.0  NaN
2017   3  NaN   4  NaN  5.0

# Metodo Head ()

Por defecto muestra 5 primeros, pero puede indicarse los que se quieren mostrar

In [13]:
#Metodo Head
#Por defecto muestra 5 primeros, pero puede indicarse los que se quieren mostrar
tabla_periodica.head(2)

      Ag   Au  Cu   Pt  Pb
2015   2  5.0   3  2.0 NaN
2016   4  6.0   7  2.0 NaN

In [4]:
import pandas as pd
dias1=[11,18,12,16,9,16,28,31,29,10,30,12]
indices=['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic']
entradas=pd.Series(dias1,index=indices)
entradas

ene    11
feb    18
mar    12
abr    16
may     9
jun    16
jul    28
ago    31
sep    29
oct    10
nov    30
dic    12
dtype: int64

In [5]:
import pandas as pd
dias2=[9,28,12,6,17,24,30,28,12,10,21,7]
indices=['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic']
salidas=pd.Series(dias2,index=indices)
salidas

ene     9
feb    28
mar    12
abr     6
may    17
jun    24
jul    30
ago    28
sep    12
oct    10
nov    21
dic     7
dtype: int64

In [36]:
salidas.head()

ene     9
feb    28
mar    12
abr     6
may    17
dtype: int64

In [6]:
almacen=pd.DataFrame({'entradas':entradas,'salidas':salidas})
almacen['neto']=almacen.entradas-almacen.salidas
almacen

     entradas  salidas  neto
ene        11        9     2
feb        18       28   -10
mar        12       12     0
abr        16        6    10
may         9       17    -8
jun        16       24    -8
jul        28       30    -2
ago        31       28     3
sep        29       12    17
oct        10       10     0
nov        30       21     9
dic        12        7     5

In [40]:
almacen.head()

     entradas  salidas  neto
ene        11        9     2
feb        18       28   -10
mar        12       12     0
abr        16        6    10
may         9       17    -8

# Metodo Tail

Por defecto muestra 5 ultimos elementos, pero puede indicarse los que se quieren mostrar

In [41]:
entradas.tail()

ago    31
sep    29
oct    10
nov    30
dic    12
dtype: int64

In [42]:
almacen.tail()

     entradas  salidas  neto
ago        31       28     3
sep        29       12    17
oct        10       10     0
nov        30       21     9
dic        12        7     5

In [7]:
almacen[1:3]

     entradas  salidas  neto
feb        18       28   -10
mar        12       12     0

# Metodo Sample()

Devuelve un valor aleatorio, sin embargo podemos indicarle cuantos elementos devolver en el argumento

In [46]:
entradas.sample()

jun    16
dtype: int64

In [47]:
entradas.sample(5)

jul    28
sep    29
may     9
abr    16
oct    10
dtype: int64

In [48]:
almacen.sample(4)

     entradas  salidas  neto
sep        29       12    17
ene        11        9     2
jun        16       24    -8
oct        10       10     0

# Metodo Describe()

Devuelve informacion estadistica de los datos del DataFrame o de la serie, este metodo devuelve un Dataframe.

Incluye numero de muestras, el valor medio, la desviación estandar, valor minimo, valor máximo, valores porcentiles

In [49]:
almacen.describe()

        entradas    salidas       neto
count  12.000000  12.000000  12.000000
mean   18.500000  17.000000   1.500000
std     8.554637   8.842048   8.050974
min     9.000000   6.000000 -10.000000
25%    11.750000   9.750000  -3.500000
50%    16.000000  14.500000   1.000000
75%    28.250000  25.000000   6.000000
max    31.000000  30.000000  17.000000

In [51]:
almacen.describe(datetime_is_numeric=True)

        entradas    salidas       neto
count  12.000000  12.000000  12.000000
mean   18.500000  17.000000   1.500000
std     8.554637   8.842048   8.050974
min     9.000000   6.000000 -10.000000
25%    11.750000   9.750000  -3.500000
50%    16.000000  14.500000   1.000000
75%    28.250000  25.000000   6.000000
max    31.000000  30.000000  17.000000

In [56]:
almacen.entradas.describe()

count    12.000000
mean     18.500000
std       8.554637
min       9.000000
25%      11.750000
50%      16.000000
75%      28.250000
max      31.000000
Name: entradas, dtype: float64

In [52]:
almacen.describe(include='all')

        entradas    salidas       neto
count  12.000000  12.000000  12.000000
mean   18.500000  17.000000   1.500000
std     8.554637   8.842048   8.050974
min     9.000000   6.000000 -10.000000
25%    11.750000   9.750000  -3.500000
50%    16.000000  14.500000   1.000000
75%    28.250000  25.000000   6.000000
max    31.000000  30.000000  17.000000

In [61]:
almacen.entradas.describe()

count    12.000000
mean     18.500000
std       8.554637
min       9.000000
25%      11.750000
50%      16.000000
75%      28.250000
max      31.000000
Name: entradas, dtype: float64

In [76]:
almacen['neto'].describe()

count    12.000000
mean      1.500000
std       8.050974
min     -10.000000
25%      -3.500000
50%       1.000000
75%       6.000000
max      17.000000
Name: neto, dtype: float64

In [77]:
almacen.describe(percentiles=[0, 1/3, 2/3, 1])

        entradas    salidas       neto
count  12.000000  12.000000  12.000000
mean   18.500000  17.000000   1.500000
std     8.554637   8.842048   8.050974
min     9.000000   6.000000 -10.000000
0%      9.000000   6.000000 -10.000000
33.3%  12.000000  11.333333  -0.666667
50%    16.000000  14.500000   1.000000
66.7%  21.333333  22.000000   3.666667
100%   31.000000  30.000000  17.000000
max    31.000000  30.000000  17.000000

In [63]:
#Solo muestro datos numericos
almacen.describe(exclude=[object])

        entradas    salidas       neto
count  12.000000  12.000000  12.000000
mean   18.500000  17.000000   1.500000
std     8.554637   8.842048   8.050974
min     9.000000   6.000000 -10.000000
25%    11.750000   9.750000  -3.500000
50%    16.000000  14.500000   1.000000
75%    28.250000  25.000000   6.000000
max    31.000000  30.000000  17.000000

# Metodo Info

Muestra resumen del dataframe, incluyendo informaicon de los tipos de indices de filas y columnas, valores no 
nulos  memoria usada

In [64]:
almacen.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, ene to dic
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   entradas  12 non-null     int64
 1   salidas   12 non-null     int64
 2   neto      12 non-null     int64
dtypes: int64(3)
memory usage: 684.0+ bytes

# Metodo Value_Counts

Devuelve una estructura conteniendo los valores presentes en la serie y el numero de ocurrencias de cada uno
se muestran los valores en orden decreciente

In [69]:
import numpy as np
s=pd.Series([3,1,2,1,1,4,1,2,5,np.nan])
print(s)
s.value_counts()

0    3.0
1    1.0
2    2.0
3    1.0
4    1.0
5    4.0
6    1.0
7    2.0
8    5.0
9    NaN
dtype: float64

1.0    4
2.0    2
3.0    1
4.0    1
5.0    1
dtype: int64

# Metodo dropna 

Como puede apreciarse, por defecto no se incluyen los valores nulos. Este comportamiento puede
modificarse haciendo uso del parámetro dropna:

Asimismo, el metodo dropna elimina las filas que tienen datos incompletos o NaN

In [71]:
s.value_counts(dropna=False)

1.0    4
2.0    2
3.0    1
4.0    1
5.0    1
NaN    1
dtype: int64

In [72]:
df_filtrado=s.dropna()
df_filtrado

0    3.0
1    1.0
2    2.0
3    1.0
4    1.0
5    4.0
6    1.0
7    2.0
8    5.0
dtype: float64

In [79]:
s.value_counts(bins=2)

(0.995, 3.0]    7
(3.0, 5.0]      2
dtype: int64

In [78]:
s.value_counts(bins=[3,4])

(2.999, 4.0]    2
dtype: int64

# Seleccion de datos en Series

In [80]:
import pandas as pd
s=pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [81]:
print(s[0])
print(s[1])

10
20

In [83]:
import pandas as pd
s=pd.Series([10,20,30,40],index=['a','b','c','d'])
s

a    10
b    20
c    30
d    40
dtype: int64

In [86]:
print(s['a'],s[0])
print(s['d'],s[3])
#SI se asignan etiquetas a los indices, si esta permitido indices negativos, sino no esta permitido
print(s[-1])

10 10
40 40
40

In [90]:
import pandas as pd
s=pd.Series([10,20,30,40],index=[3,2,1,0])
s
print(s[0])
#Si los índices asignados son números enteros (al igual que las etiquetas del índice implícito), el índice
# implícito queda desactivado
print(s[-1])

40

KeyError: -1

# Rango de Valores

In [91]:
import pandas as pd
s=pd.Series([10,20,30,40],index=['a','b','c','d'])
s

a    10
b    20
c    30
d    40
dtype: int64

In [92]:
s[1:3]

b    20
c    30
dtype: int64

In [94]:
s[1:]

b    20
c    30
d    40
dtype: int64

In [95]:
s[:2]

a    10
b    20
dtype: int64

In [100]:
#Si se utilizan indices explicitos en el rango, el comportamiento es ligeramente diferente, el segundo
#indice si es incluido
#SI se usan etiquetas, se hacen referencia a las etiquetas
s['a':'c']

a    10
b    20
c    30
dtype: int64

In [97]:
s[:'c']

a    10
b    20
c    30
dtype: int64

In [98]:
s['b':]

b    20
c    30
d    40
dtype: int64

# Metodo iloc

Permite extraer datos de la serie a partir de indices implicitos que estos tienen asignados

In [116]:
import pandas as pd
s=pd.Series([10,20,30,40],index=['a','b','c','d'])
s

a    10
b    20
c    30
d    40
dtype: int64

In [102]:
s.iloc[1]

20

In [103]:
s.iloc[3]

40

In [109]:
#Ultimo elemento de la serie
s.iloc[-1]

40

In [108]:
#Primer elemento de la serie
s.iloc[-4]

10

In [106]:
#Filtrado atraves de un rango de indices, puede pasar los indices de las filas que 
#quiero obtener
s.iloc[[1,3]]

b    20
d    40
dtype: int64

In [110]:
#Filtrado atraves de un rango de indices, puede pasar los indices de las filas que 
#quiero obtener
s.iloc[[-2,0]]

c    30
a    10
dtype: int64

In [111]:
#Pasar como argumento un rango de numeros
s.iloc[1:3]

b    20
c    30
dtype: int64

In [113]:
#Pasar como argumento un rango de numeros
s.iloc[:3]

a    10
b    20
c    30
dtype: int64

In [114]:
#Pasar como argumento un rango de numeros
s.iloc[2:]

c    30
d    40
dtype: int64

In [117]:
#Comienzo y el final del rango
s.iloc[1:-1]

b    20
c    30
dtype: int64

In [112]:
#Pasar como argumento un rango de numeros
s.iloc['a':'c']

TypeError: cannot do positional indexing on Index with these indexers [a] of type str