In [5]:
elementos={
    'Numero atómico':[1,6,47,88],
    'Masa atómica':[1.008,12.011,107.87,226],
    'Familia':['No metal','No metal','Metal','Metal']
}

print(elementos)

{'Numero atómico': [1, 6, 47, 88], 'Masa atómica': [1.008, 12.011, 107.87, 226], 'Familia': ['No metal', 'No metal', 'Metal', 'Metal']}

In [6]:
import pandas as pd
#Crear un dataframe a partir de un diccionario
tabla_periodica=pd.DataFrame(elementos)
tabla_periodica

   Numero atómico  Masa atómica   Familia
0               1         1.008  No metal
1               6        12.011  No metal
2              47       107.870     Metal
3              88       226.000     Metal

In [13]:
#Crear dataframa a partir de un diccionario
#Las claves son las columnsa del diccionario
#los valores son los datos de la columna o la serie
unidades_datos={
    'Ag':[2,4,3],
    'Au':[5,6,2],
    'Pt':[2,2,1],
    'Cu':[3,7,4]
}

print(unidades_datos)
columnas=['Cu','Pt','Au','Ag']
tabla_periodica=pd.DataFrame(unidades_datos,index=[2015,2016,2017],columns=columnas)
tabla_periodica

{'Ag': [2, 4, 3], 'Au': [5, 6, 2], 'Pt': [2, 2, 1], 'Cu': [3, 7, 4]}

      Cu  Pt  Au  Ag
2015   3   2   5   2
2016   7   2   6   4
2017   4   1   2   3

In [17]:
#Vamos a crear un DataFrame a partir de varios diccionario
unidades_datos2015={'Ag':2,'Au':5,'Cu':3,'Pt':2}
unidades_datos2016={'Ag':4,'Au':6,'Cu':7,'Pt':2}
unidades_datos2017={'Ag':3,'Au':2,'Cu':4,'Pt':4}
columnas=['Cu','Pt','Au','Ag']
indices_filas=[2015,2016,2017]
#Cada unidad de dato se va a pasar como una fila en el diccionario, y se envia en la
#creacion del DataFrame como una lista de valores separados por coma
t_periodica=pd.DataFrame([unidades_datos2015,unidades_datos2016,unidades_datos2017],index=indices_filas,columns=columnas)
t_periodica

      Cu  Pt  Au  Ag
2015   3   2   5   2
2016   7   2   6   4
2017   4   4   2   3

In [19]:
#Vamos a crear un DataFrame a partir de varios diccionario
unidades_datos2015={'Ag':2,'Au':5,'Cu':3,'Pt':2}
unidades_datos2016={'Ag':4,'Au':6,'Cu':7,'Pt':2}
unidades_datos2017={'Ag':3,'Cu':4,'Pb':4}
columnas=['Cu','Pt','Au','Ag','Pb']
indices_filas=[2015,2016,2017]
#Cada unidad de dato se va a pasar como una fila en el diccionario, y se envia en la
#creacion del DataFrame como una lista de valores separados por coma
t_periodica=pd.DataFrame([unidades_datos2015,unidades_datos2016,unidades_datos2017],index=indices_filas,columns=columnas)
t_periodica

      Cu   Pt   Au  Ag   Pb
2015   3  2.0  5.0   2  NaN
2016   7  2.0  6.0   4  NaN
2017   4  NaN  NaN   3  4.0

In [25]:
#Crar una Serie a partir de unos datos almacenados en listas y he añadido una etiqueta
# para cada valor en las columnas
import pandas as pd
dias1=[11,18,16,28,31,29,19,30,21,13,3,6]
indices=['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic']
entradas=pd.Series(dias1, index=indices)
entradas

ene    11
feb    18
mar    16
abr    28
may    31
jun    29
jul    19
ago    30
sep    21
oct    13
nov     3
dic     6
dtype: int64

In [26]:
#Crar una Serie a partir de unos datos almacenados en listas y he añadido una etiqueta
# para cada valor en las columnas
import pandas as pd
dias1=[1,8,6,18,11,19,39,40,51,73,12,74]
indices=['ene','feb','mar','abr','may','jun','jul','ago','sep','oct','nov','dic']
salidas=pd.Series(dias1, index=indices)
salidas

ene     1
feb     8
mar     6
abr    18
may    11
jun    19
jul    39
ago    40
sep    51
oct    73
nov    12
dic    74
dtype: int64

In [29]:
#DataFrame creado a partir un diccionario que contiene las listas entradas y salidas
#En un diccionario cada elemento clave va a convertirse en una columnna
#Los valores de las listas van a ser almacenadas en filas que estan interconectadas
#con una columna
almacen=pd.DataFrame({'entradas':entradas,'salidas':salidas})
almacen

     entradas  salidas
ene        11        1
feb        18        8
mar        16        6
abr        28       18
may        31       11
jun        29       19
jul        19       39
ago        30       40
sep        21       51
oct        13       73
nov         3       12
dic         6       74

In [31]:
#DataFrame creado a partir un diccionario que contiene las listas entradas y salidas
#En un diccionario cada elemento clave va a convertirse en una columnna
#Los valores de las listas van a ser almacenadas en filas que estan interconectadas
#con una columna
almacen=pd.DataFrame({'entradas':entradas,'salidas':salidas})
c['neto']=almacen.entradas-almacen.salidas
almacen

     entradas  salidas  neto
ene        11        1    10
feb        18        8    10
mar        16        6    10
abr        28       18    10
may        31       11    20
jun        29       19    10
jul        19       39   -20
ago        30       40   -10
sep        21       51   -30
oct        13       73   -60
nov         3       12    -9
dic         6       74   -68

# Metodo Head()

Retorna por defecto los 5 primeros elementos de una serie o un  dataframe. Este metodo tambien recibe un argumento, que es el numero de elementos de una estructura de datos que se quieren mostar

In [32]:
entradas.head()

ene    11
feb    18
mar    16
abr    28
may    31
dtype: int64

In [33]:
almacen.head()

     entradas  salidas  neto
ene        11        1    10
feb        18        8    10
mar        16        6    10
abr        28       18    10
may        31       11    20

In [34]:
almacen.head(3)

     entradas  salidas  neto
ene        11        1    10
feb        18        8    10
mar        16        6    10

# Metodo Tail

Retorna por defecto los 5 ultimos elementos de una serie o un dataframe. Sin embargo,nosotros podemos indicar cuantos elementos queremos visualizar

In [35]:
entradas.tail()

ago    30
sep    21
oct    13
nov     3
dic     6
dtype: int64

In [36]:
almacen.tail()

     entradas  salidas  neto
ago        30       40   -10
sep        21       51   -30
oct        13       73   -60
nov         3       12    -9
dic         6       74   -68

In [38]:
#Metodo tail, al igual que el metodo Head recibe una argumento con el numero de elementos
#que quiero filtrar o mostrar en pantalla
almacen.tail(3)

     entradas  salidas  neto
oct        13       73   -60
nov         3       12    -9
dic         6       74   -68

In [43]:
#Metodo samples, por defecto me muestra un solo elemento de la serie o el Dataframe.
#Sin embargom nosotros podemos indicarle en el argumento cuantos elementos de forma 
#aleatoria queremos visualizar
#Metodo sample retorna unos datos aletoriamente
almacen.sample(3)

     entradas  salidas  neto
jun        29       19    10
nov         3       12    -9
ene        11        1    10

In [46]:
almacen

     entradas  salidas  neto
ene        11        1    10
feb        18        8    10
mar        16        6    10
abr        28       18    10
may        31       11    20
jun        29       19    10
jul        19       39   -20
ago        30       40   -10
sep        21       51   -30
oct        13       73   -60
nov         3       12    -9
dic         6       74   -68

In [45]:
almacen.describe()
#Metodo describe retona unos valores estadistico respeto a los valores del Dataframe
# como por ejemplo la media y la desviacion estandar

        entradas    salidas       neto
count  12.000000  12.000000  12.000000
mean   18.750000  29.333333 -10.583333
std     9.459243  25.677487  29.015539
min     3.000000   1.000000 -68.000000
25%    12.500000  10.250000 -22.500000
50%    18.500000  18.500000   0.500000
75%    28.250000  42.750000  10.000000
max    31.000000  74.000000  20.000000

In [48]:
#EJemplos del metodo desribe
#Datos estadisticos de los valores de entrada
almacen.entradas.describe

<bound method NDFrame.describe of ene    11
feb    18
mar    16
abr    28
may    31
jun    29
jul    19
ago    30
sep    21
oct    13
nov     3
dic     6
Name: entradas, dtype: int64>

In [50]:
almacen.describe(include='all')

        entradas    salidas       neto
count  12.000000  12.000000  12.000000
mean   18.750000  29.333333 -10.583333
std     9.459243  25.677487  29.015539
min     3.000000   1.000000 -68.000000
25%    12.500000  10.250000 -22.500000
50%    18.500000  18.500000   0.500000
75%    28.250000  42.750000  10.000000
max    31.000000  74.000000  20.000000

In [51]:
#Necesito datos estadisticos unicamente de la Serie o columna neto
almacen['neto'].describe()

count    12.000000
mean    -10.583333
std      29.015539
min     -68.000000
25%     -22.500000
50%       0.500000
75%      10.000000
max      20.000000
Name: neto, dtype: float64

In [52]:
almacen.describe(percentiles=[0,1/3,2/3,1])

        entradas    salidas       neto
count  12.000000  12.000000  12.000000
mean   18.750000  29.333333 -10.583333
std     9.459243  25.677487  29.015539
min     3.000000   1.000000 -68.000000
0%      3.000000   1.000000 -68.000000
33.3%  15.000000  11.666667 -13.333333
50%    18.500000  18.500000   0.500000
66.7%  23.333333  39.333333  10.000000
100%   31.000000  74.000000  20.000000
max    31.000000  74.000000  20.000000

In [53]:
almacen.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, ene to dic
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   entradas  12 non-null     int64
 1   salidas   12 non-null     int64
 2   neto      12 non-null     int64
dtypes: int64(3)
memory usage: 684.0+ bytes

In [55]:
# MEtodo value_count
#Devuelve una estructura conteniendo los valores presentes en la serie y el numero de
#ocurrencias de cada uno en orden descendente
import numpy as np
s=pd.Series([3,1,2,1,1,4,1,2,5,np.nan])
print(s)
s.value_counts()

0    3.0
1    1.0
2    2.0
3    1.0
4    1.0
5    4.0
6    1.0
7    2.0
8    5.0
9    NaN
dtype: float64

1.0    4
2.0    2
3.0    1
4.0    1
5.0    1
dtype: int64

# Metodo dropna
Por defecto el valor_counts no incluye los valores nulos de una lista, sin embargo
nosotros podemos indicarle como argumento al metodo valor_counts, dropna=False para que me muestre los valores nulos

Asimismo, este metodo dropna nos permite eliminar filas que tienen datos incompletos o valores no nulos como NaN

In [56]:
# MEtodo value_count
#Devuelve una estructura conteniendo los valores presentes en la serie y el numero de
#ocurrencias de cada uno en orden descendente
import numpy as np
s=pd.Series([3,1,2,1,1,4,1,2,5,np.nan])
print(s)
s.value_counts(dropna=False)

0    3.0
1    1.0
2    2.0
3    1.0
4    1.0
5    4.0
6    1.0
7    2.0
8    5.0
9    NaN
dtype: float64

1.0    4
2.0    2
3.0    1
4.0    1
5.0    1
NaN    1
dtype: int64

In [58]:
dfiltro_s=s.dropna()
dfiltro_s

0    3.0
1    1.0
2    2.0
3    1.0
4    1.0
5    4.0
6    1.0
7    2.0
8    5.0
dtype: float64

In [62]:
#argumento bins, crear margenes por defecto de cuantos elementos se encuentran en un 
#rango de valores#EL metodo gel_indexer devuelve un array con la posicion
#de varias columnas indicadas entre corchetes
df.index.get_indexer(['b','d'])
s.value_counts(bins=2)

(0.995, 3.0]    7
(3.0, 5.0]      2
dtype: int64

In [61]:
#argumento bins
s.value_counts(bins=3)

(0.995, 2.333]    6
(3.667, 5.0]      2
(2.333, 3.667]    1
dtype: int64

In [65]:
#argumento bins, tambien podemos indicar un rango de valores que queremos verificar 
s.value_counts(bins=[1,3])

(0.999, 3.0]    7
dtype: int64

In [67]:
#Selecion de datos en una Serie
import pandas as pd
s=pd.Series([10.3,20.3,30.1,40.0])
s

0    10.3
1    20.3
2    30.1
3    40.0
dtype: float64

In [68]:
#Puedo acceder a los elementos de una serie mediante los indices
print(s[0])
print(s[1])

10.3
20.3

In [74]:
#Sino hemos asignado una etiqueta por defecto a los indices de las filas, no podemos
#utilizar indices negativos
print(s[-1])

40.0

In [70]:
#Selecion de datos en una Serie
import pandas as pd
s=pd.Series([10.3,20.3,30.1,40.0],index=['a','b','c','d'])
s

a    10.3
b    20.3
c    30.1
d    40.0
dtype: float64

In [73]:
s['b']

20.3

In [71]:
#Yo ya puedo utilizar indices negativos
s[-1]

40.0

In [72]:
s[-3]

20.3

In [75]:
#Selecion de datos en una Serie
import pandas as pd
s=pd.Series([10.3,20.3,30.1,40.0],index=[3,2,1,0])
s

3    10.3
2    20.3
1    30.1
0    40.0
dtype: float64

In [76]:
s[-1]

KeyError: -1

In [77]:
#Selecion de datos en una Serie
import pandas as pd
s=pd.Series([10.3,20.3,30.1,40.0],index=['a','b','c','d'])
s

a    10.3
b    20.3
c    30.1
d    40.0
dtype: float64

In [78]:
s[1:3]

b    20.3
c    30.1
dtype: float64

In [80]:
#Vamos a obtener una rebanada de valores mediante
#los indices en una serie
#Desde el primer valor del indice 1,hasta el final de la serie
s[1:]

b    20.3
c    30.1
d    40.0
dtype: float64

In [84]:
#Vamos a obtener una rebanada de valores mediante
#los indices en una serie
#Desde el primer valor del indice,hasta la posicion 3, pero el 3 no se incluye
print(s[:3])
print()
print(s)

a    10.3
b    20.3
c    30.1
dtype: float64

a    10.3
b    20.3
c    30.1
d    40.0
dtype: float64

In [86]:
#Si se hace el slicing con el nombre de las 
#etiquetas, el segundo valor es incluido
s['a':'c']

a    10.3
b    20.3
c    30.1
dtype: float64

In [87]:
#Si se hace el slicing con el nombre de las 
#etiquetas, el segundo valor es incluido
s[:'c']

a    10.3
b    20.3
c    30.1
dtype: float64

In [88]:
#Si se hace el slicing con el nombre de las 
#etiquetas, el segundo valor es incluido
s['b':]

b    20.3
c    30.1
d    40.0
dtype: float64

# Metodo iloc

In [89]:
#Selecion de datos en una Serie
import pandas as pd
s=pd.Series([10.3,20.3,30.1,40.0],index=['a','b','c','d'])
s

a    10.3
b    20.3
c    30.1
d    40.0
dtype: float64

In [90]:
s.iloc[1]

20.3

In [91]:
s.iloc[-1]

40.0

In [92]:
#Vamos a pasar una lista que me indica que elementos quiero obtener
s.iloc[[0,2]]

a    10.3
c    30.1
dtype: float64

In [94]:
#Vamos a pasar una lista que me indica que elementos quiero obtener
s.iloc[[-1,2]]

d    40.0
c    30.1
dtype: float64

In [95]:
s.iloc[1:3]

b    20.3
c    30.1
dtype: float64

In [96]:
s.iloc[1:]

b    20.3
c    30.1
d    40.0
dtype: float64

In [97]:
s.iloc[:2]

a    10.3
b    20.3
dtype: float64

In [98]:
s.iloc[1:-2]

b    20.3
dtype: float64

In [99]:
#EN iloc no puedo utilizar las etiquetas como un rango de valors
s.iloc['a':'c']

TypeError: cannot do positional indexing on Index with these indexers [a] of type str

In [102]:
elementos={
    'Numero atómico':[1,6,47,88],
    'Masa atómica':[1.008,12.011,107.87,226],
    'Familia':['No metal','No metal','Metal','Metal']
}

print(elementos)

df=pd.DataFrame(elementos)
df

{'Numero atómico': [1, 6, 47, 88], 'Masa atómica': [1.008, 12.011, 107.87, 226], 'Familia': ['No metal', 'No metal', 'Metal', 'Metal']}

   Numero atómico  Masa atómica   Familia
0               1         1.008  No metal
1               6        12.011  No metal
2              47       107.870     Metal
3              88       226.000     Metal

In [104]:
#EL metodo iloc me permite filtrar los elementos de una Serie o un DataFrame a partir
#de la posicion de los indices de las filas
df.iloc[0]

Numero atómico           1
Masa atómica         1.008
Familia           No metal
Name: 0, dtype: object

In [105]:
#EL metodo iloc me permite filtrar los elementos de una Serie o un DataFrame a partir
#de la posicion de los indices de las filas
df.iloc[3]

Numero atómico       88
Masa atómica      226.0
Familia           Metal
Name: 3, dtype: object

In [106]:
#EL metodo iloc me permite filtrar los elementos de una Serie o un DataFrame a partir
#de la posicion de los indices de las filas
df.iloc[[0,2]]

   Numero atómico  Masa atómica   Familia
0               1         1.008  No metal
2              47       107.870     Metal