In [1]:
import pandas as pd
s=pd.Series([5,2,-3,7,8,4])
s

0    5
1    2
2   -3
3    7
4    8
5    4
dtype: int64

In [2]:
#Filtro de filas a partir de un array Booleano
s[[True,False,False,True,True,False]]

0    5
3    7
4    8
dtype: int64

In [8]:
#Vamos a empezar a filtrar las filas de una serie a partir de un condicional
print(s)
var=s>2
print(var)
print(type(var))

0    5
1    2
2   -3
3    7
4    8
5    4
dtype: int64
0     True
1    False
2    False
3     True
4     True
5     True
dtype: bool
<class 'pandas.core.series.Series'>

In [9]:
#Extraer los valores en la serie s
s[s>2]

0    5
3    7
4    8
5    4
dtype: int64

# Filtro mediante el metodo loc

In [21]:
print(s)
print()
#SE coloca un dato Booleano por cada fila de la serie
#Cada dato booleana hace referencia a la posicion de una fila
lista=[True,False,False,True,True,False]
s.loc[lista]

0    5
1    2
2   -3
3    7
4    8
5    4
dtype: int64

0    5
3    7
4    8
dtype: int64

In [22]:
#Filtro a partir de una condicion con el metodo loc
#Solamente muestra los valores de la fila que cumplan la condicion que sean mayor que 2
#es decir donde el resultado de la condicion sea True
print(s)
s.loc[s>2]

0    5
1    2
2   -3
3    7
4    8
5    4
dtype: int64

0    5
3    7
4    8
5    4
dtype: int64

# Metodo iloc

In [14]:
lista1=[True,False,False,True,True,False]
s.iloc[lista1]

0    5
3    7
4    8
dtype: int64

In [15]:
s.iloc[s>2]

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [16]:
#Nosotros podemos utilizar una condicion en el metodo iloc solo si se obtiene a partir
#de un array de numpy
(s>2).values

array([ True, False, False,  True,  True,  True])

In [17]:
#Vamos a utilizar el metodo iloc para encontrar los valores que cumplan una condicion
#que los valores de la serie s sean mayor que 2, y vamos a utilizar el atributo values
s.iloc[(s>2).values]

0    5
3    7
4    8
5    4
dtype: int64

In [25]:
#Crear un dataframe a partir de una matriz de numpy
import pandas as pd
import numpy as np
#Arange me crea unos valores de 0 a 18
#Reshape me crea una matriz de 6 filas y 3 columnas
df=pd.DataFrame(np.arange(0,18).reshape([6,3]))
df

    0   1   2
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14
5  15  16  17

In [27]:
#Crear un dataframe a partir de una matriz de numpy
import pandas as pd
import numpy as np
#Arange me crea unos valores de 0 a 18
#Reshape me crea una matriz de 6 filas y 3 columnas

#Vamos a colocar unas etiquetas a los indices de las filas
#y a los indices de las columnas

#index=Hace referencia a las filas
#columns=Hace referencia a las columnas
df=pd.DataFrame(np.arange(0,18).reshape([6,3]),
               index=['a','b','c','d','e','f'],
               columns=['A','B','C'])
df

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

# Vamos a utilizar el metodo get_loc para obtener el indice de una fila o una columna


# El metodo get_indexer para obtener una array con los indices de varias filas o columnas pasadas en un lista

In [28]:
#Crear un dataframe a partir de una matriz de numpy
import pandas as pd
import numpy as np
#Arange me crea unos valores de 0 a 18
#Reshape me crea una matriz de 6 filas y 3 columnas

#Vamos a colocar unas etiquetas a los indices de las filas
#y a los indices de las columnas

#index=Hace referencia a las filas
#columns=Hace referencia a las columnas
df=pd.DataFrame(np.arange(0,18).reshape([6,3]),
               index=['a','b','c','d','e','f'],
               columns=['A','B','C'])
df

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

In [29]:
#en el argumento de get_loc le voy a pasar
#el nombre de la columna que quiero encontrar
#el indice
df.columns.get_loc('C')

2

In [31]:
#Voy a utilizar el metodo get_indexer para obtener
#los valores de los indices de varias columnas
#El metodo get_indexer devuelve un array
#con los indices de las columnas que le pase en el argumento
df.columns.get_indexer(['A','C'])

array([0, 2])

# Indices de las filas mediante metodo get_loc y get_indexer

In [33]:
#Me obtiene el indice de la fila b
df.index.get_loc('b')

1

In [34]:
#Me obtiene el indice de la fila d,f
df.index.get_indexer(['d','f'])

array([3, 5])

# FIltrado a partir del metodo iloc utilizando indices y etiquetas, de la interseccion entre una fila y una columna

Ejemplo: Muestre el valor que esta en la fila c y la columna 2

In [40]:
#Interceptando el valor que esta entre una fila y una columna
# df.iloc[indice_filas,indice_columnas]
print(df)
#Es como si estuviera pasando los indices de las fila 2 y la columna 2
df.iloc[df.index.get_loc('c'),2]

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

8

In [47]:
#Interceptando el valor que esta entre una fila y una columna
# df.iloc[indice_filas,indice_columnas]
print(df)
#Es como si estuviera pasando los indices de las fila 2 y la columna 2
df.iloc[df.index.get_loc('c')]

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

A    6
B    7
C    8
Name: c, dtype: int64

In [48]:
#Interceptando el valor que esta entre una fila y una columna
# df.iloc[indice_filas,indice_columnas]
print(df)
#Es como si estuviera pasando los indices de las fila 2 y la columna 2
df.iloc[df.columns.get_loc('C')]

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

A    6
B    7
C    8
Name: c, dtype: int64

In [43]:
# df.iloc[[Rango_de_filas_filtrar],[Rango_columnas_filtrar]]
df.iloc[[5,2],df.columns.get_indexer(['C','A'])]

    C   A
f  17  15
c   8   6

# Uso de listas de booleanos

In [49]:
#Crear un dataframe a partir de una matriz de numpy
import pandas as pd
import numpy as np
#Arange me crea unos valores de 0 a 18
#Reshape me crea una matriz de 6 filas y 3 columnas

#Vamos a colocar unas etiquetas a los indices de las filas
#y a los indices de las columnas

#index=Hace referencia a las filas
#columns=Hace referencia a las columnas
df=pd.DataFrame(np.arange(0,18).reshape([6,3]),
               index=['a','b','c','d','e','f'],
               columns=['A','B','C'])
df

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

In [51]:
mask=[True,False,True,False,False,True]
#Vamos a utilizar esta lista de datos booleanos
# para filtrar las filas de un dataframe en la posicion donde sea True
#Llamamos el nombre del dataframe, abrimos corchetes y pasamos la lista 
#de datos booleanos
df[mask]

    A   B   C
a   0   1   2
c   6   7   8
f  15  16  17

# Filtrado en un DataFrame a partir de una condicion de los valores en una columna

In [53]:
print(df)
#Vamos a utilizar la condicion en la columna A del dataframe df
df[df.A>7]

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

    A   B   C
d   9  10  11
e  12  13  14
f  15  16  17

In [57]:
#Vamos a realizar el filtrado a partir del metodo loc
print(df)
#Vamos a utilizar la condicion en la columna A del dataframe df
df.loc[df.A>=6]

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

    A   B   C
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

In [58]:
# MEtodo iloc no permite utilizar condiciones, al menos que se
#utilice el atributo values
#Vamos a realizar el filtrado a partir del metodo iloc
print(df)
#Vamos a utilizar la condicion en la columna A del dataframe df
df.iloc[(df.A>=6).values]

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

    A   B   C
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

# FIltrado a partir de varias columnas

In [60]:
#Filtando valores a partir de dos columnas pasadas en una lista
df[['A','C']]

    A   C
a   0   2
b   3   5
c   6   8
d   9  11
e  12  14
f  15  17

In [61]:
#MEtodo iloc funciona con indices
df.iloc[0]

A    0
B    1
C    2
Name: a, dtype: int64

In [64]:
#MEtodo iloc funciona con indices, los datos de la fila 0 y 1
df.iloc[[0,1]]

   A  B  C
a  0  1  2
b  3  4  5

In [66]:
#MEtodo iloc funciona con indices, los datos de la fila 1:4
# Puedo utilizar un rango de valors de filtrado
#EL indice de la primer fila se incluye en los datos a mostrar
#El indice de la segunda fila solo indica hasta donde va a filtrar los datos pero no 
#se incluye
df.iloc[1:4]

   A   B   C
b  3   4   5
c  6   7   8
d  9  10  11

In [69]:
print(df)
#Vamos a utilizar la condicion en la columna A del dataframe df
#Tengo el filtrado a partir de dos condiciones separadas mediante el simbolo de Ampersan
#que es un simbolo que denota la sentencia and(y),en este caso &
df[(df.A>7) & (df.C==11)]

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

   A   B   C
d  9  10  11

# Metodo samples

In [70]:
#Crear un dataframe a partir de una matriz de numpy
import pandas as pd
import numpy as np
#Arange me crea unos valores de 0 a 18
#Reshape me crea una matriz de 6 filas y 3 columnas

#Vamos a colocar unas etiquetas a los indices de las filas
#y a los indices de las columnas

#index=Hace referencia a las filas
#columns=Hace referencia a las columnas
df=pd.DataFrame(np.arange(0,18).reshape([6,3]),
               index=['a','b','c','d','e','f'],
               columns=['A','B','C'])
df

    A   B   C
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14
f  15  16  17

In [75]:
#Utilizando el metodo samples vamos a extraer 3 filas de forma aleatoria, sin 
#reemplazo y fijando como semilla el numero aleatorio 18
#Estamos filtrando a partir de las filas, lo que quiere decir que 
#el atributo axis esta en el eje 0
df.sample(3,random_state=18)

    A   B   C
f  15  16  17
e  12  13  14
b   3   4   5

In [77]:
#Utilizando el metodo samples vamos a extraer 3 filas de forma aleatoria, sin 
#reemplazo y fijando como semilla el numero aleatorio 18
#Estamos filtrando a partir de las columnas, lo que quiere decir que 
#el atributo axis esta en el eje 1
df.sample(2,random_state=18, axis=1)

    A   B
a   0   1
b   3   4
c   6   7
d   9  10
e  12  13
f  15  16

# Atributo Frac del metodo samples

In [82]:
#En este caso estamos filtrando de forma aleatoria el 60 % de los datos de un dataframe
df.sample(frac=0.6,random_state=18)

    A   B   C
f  15  16  17
e  12  13  14
b   3   4   5
a   0   1   2

In [83]:
#En este caso estamos filtrando de forma aleatoria el 100 % de los datos de un dataframe
df.sample(frac=1,random_state=18)

    A   B   C
f  15  16  17
e  12  13  14
b   3   4   5
a   0   1   2
d   9  10  11
c   6   7   8

In [84]:
#Crear un dataframe a partir de una matriz de numpy
import pandas as pd
import numpy as np
#Arange me crea unos valores de 0 a 18
#Reshape me crea una matriz de 6 filas y 3 columnas

#Vamos a colocar unas etiquetas a los indices de las filas
#y a los indices de las columnas

#index=Hace referencia a las filas
#columns=Hace referencia a las columnas
df=pd.DataFrame(np.arange(15).reshape([3,5]),
               index=['a','b','c'],
               columns=['A','B','C','D','E'])
df

    A   B   C   D   E
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14

# Metodo pop

Permite eliminar la columna de un dataframe y me retorna una serie de la columna eliminada

In [85]:
columna=df.pop('B')
print(columna)
df

a     1
b     6
c    11
Name: B, dtype: int64

    A   C   D   E
a   0   2   3   4
b   5   7   8   9
c  10  12  13  14

# Metodo Drop

In [86]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [87]:
#EL metodo drop retorna una copia de la estructura
#de datos sin el elemento que se paso en el argumento
#del metodo DROP
#Eliminar la fila b y crear copia de la serie almacenada en la variable r
r=s.drop('b')
r

a    1
c    3
d    4
e    5
dtype: int64

In [89]:
# Eliminar mediante un array varias filas de la serie s mediante DROP
r1=s.drop(['b','c'])
r1

a    1
d    4
e    5
dtype: int64

In [90]:
#Crear un dataframe a partir de una matriz de numpy
import pandas as pd
import numpy as np
#Arange me crea unos valores de 0 a 18
#Reshape me crea una matriz de 6 filas y 3 columnas

#Vamos a colocar unas etiquetas a los indices de las filas
#y a los indices de las columnas

#index=Hace referencia a las filas
#columns=Hace referencia a las columnas
df=pd.DataFrame(np.arange(15).reshape([3,5]),
               index=['a','b','c'],
               columns=['A','B','C','D','E'])

print(df)
df_filtro=df.drop('b')
df_filtro

    A   B   C   D   E
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14

    A   B   C   D   E
a   0   1   2   3   4
c  10  11  12  13  14

In [91]:
df_filtro1=df.drop(['b','c'])
df_filtro1

   A  B  C  D  E
a  0  1  2  3  4

# Metodo DROP: Utilizar el atributo inplace=True

Este atributo hace que la modificacion se realice directamente sobre la estructura original de los datos, ya sea una serie o un Dataframe

El atributo inplace=True hace que el metodo Drop no tenga un valor de retorno

In [96]:
#Crear un dataframe a partir de una matriz de numpy
import pandas as pd
import numpy as np
#Arange me crea unos valores de 0 a 18
#Reshape me crea una matriz de 6 filas y 3 columnas

#Vamos a colocar unas etiquetas a los indices de las filas
#y a los indices de las columnas

#index=Hace referencia a las filas
#columns=Hace referencia a las columnas
df=pd.DataFrame(np.arange(15).reshape([3,5]),
               index=['a','b','c'],
               columns=['A','B','C','D','E'])

print(df)
print()
df.drop('b',inplace=True)
df

    A   B   C   D   E
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14

    A   B   C   D   E
a   0   1   2   3   4
c  10  11  12  13  14

# Estructura de datos de una serie

In [95]:
s=pd.Series([1,3,4,5],index=['a','b','c','d'])
s

a    1
b    3
c    4
d    5
dtype: int64

# Metodo Where

In [98]:
import pandas as pd
import numpy as np
s=pd.Series(np.arange(0,10))
s

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [100]:
#Los valores que cumplen con la condicion de que sean pares, los que no cumplen la 
#condicion, se los asigna un valor por defecto NaN
s.where(s%2==0)

0    0.0
1    NaN
2    2.0
3    NaN
4    4.0
5    NaN
6    6.0
7    NaN
8    8.0
9    NaN
dtype: float64

In [101]:
#Los valores que cumplen con la condicion de que sean pares, los que no cumplen la 
#condicion.
#Vamos a asignar a los valores que no cumplan la condicion el valor -1
s.where(s%2==0,-1)

0    0
1   -1
2    2
3   -1
4    4
5   -1
6    6
7   -1
8    8
9   -1
dtype: int64

# Editar un Dataframe

MEtodo Loc: permite trabajar mediante etiquetas

MEtodo Iloc: Permite trabajar mediante indices

In [103]:
#Crear un dataframe a partir de una matriz de numpy
import pandas as pd
import numpy as np
#Arange me crea unos valores de 0 a 18
#Reshape me crea una matriz de 6 filas y 3 columnas

#Vamos a colocar unas etiquetas a los indices de las filas
#y a los indices de las columnas

#index=Hace referencia a las filas
#columns=Hace referencia a las columnas
df=pd.DataFrame(np.arange(12).reshape([4,3]),
               index=['a','b','c','d'],
               columns=['A','B','C'])

df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

In [104]:
# Voy a cambiar un valor de la interseccion entre una fila y una columna
#MEtodo iloc que permite trabajar con indices
#df.iloc[indice_fila,indice_columna]
df.iloc[1,2]=-1
df

   A   B   C
a  0   1   2
b  3   4  -1
c  6   7   8
d  9  10  11

In [105]:
# Voy a cambiar un valor de la interseccion entre una fila y una columna
#MEtodo iloc que permite trabajar con indices
#df.iloc[indice_fila,indice_columna]
df.loc['c','B']=-1
df

   A   B   C
a  0   1   2
b  3   4  -1
c  6  -1   8
d  9  10  11

In [107]:
# Vamos a modificar todos los valores de una 
#columna mediante una lista.
#Los elementos de la lista deben coincidir con el 
#numero de filas del dataframe  o la serie
#Voy a modificar todos los valores de la columna A
df['A']=[10,20,30,40]
df

    A   B   C
a  10   1   2
b  20   4  -1
c  30  -1   8
d  40  10  11

In [110]:
# Vamos a modificar todos los valores de una 
#columna mediante una lista.
#Los elementos de la lista deben coincidir con el 
#numero de filas del dataframe  o la serie
#Voy a modificar todos los valores de la columna A con un valor constante
df['C']=31
df

    A   B   C
a  10   1  31
b  20   4  31
c  30  -1  31
d  40  10  31

In [116]:
#Crear un dataframe a partir de una matriz de numpy
import pandas as pd
import numpy as np
#Arange me crea unos valores de 0 a 18
#Reshape me crea una matriz de 6 filas y 3 columnas

#Vamos a colocar unas etiquetas a los indices de las filas
#y a los indices de las columnas

#index=Hace referencia a las filas
#columns=Hace referencia a las columnas
df=pd.DataFrame(np.arange(12).reshape([4,3]),
               index=['a','b','c','d'],
               columns=['A','B','C'])

print(df)
#He modificado los elementos de la interseccion entre la fila b y c; y la columna A y B
df.loc['b':'c','A':'B']=[[-1,-2],[-3,-4]]
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

   A   B   C
a  0   1   2
b -1  -2   5
c -3  -4   8
d  9  10  11

In [117]:
#Crear un dataframe a partir de una matriz de numpy
import pandas as pd
import numpy as np
#Arange me crea unos valores de 0 a 18
#Reshape me crea una matriz de 6 filas y 3 columnas

#Vamos a colocar unas etiquetas a los indices de las filas
#y a los indices de las columnas

#index=Hace referencia a las filas
#columns=Hace referencia a las columnas
df=pd.DataFrame(np.arange(12).reshape([4,3]),
               index=['a','b','c','d'],
               columns=['A','B','C'])

print(df)
#He modificado los elementos de la interseccion entre la fila b y c; y la columna A y B
df.loc['b':'c','A':'B']=-1
df

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

   A   B   C
a  0   1   2
b -1  -1   5
c -1  -1   8
d  9  10  11

In [118]:
#Crear un dataframe a partir de una matriz de numpy
import pandas as pd
import numpy as np
#Arange me crea unos valores de 0 a 18
#Reshape me crea una matriz de 6 filas y 3 columnas

#Vamos a colocar unas etiquetas a los indices de las filas
#y a los indices de las columnas

#index=Hace referencia a las filas
#columns=Hace referencia a las columnas
df=pd.DataFrame(np.arange(12).reshape([4,3]),
               index=['a','b','c','d'],
               columns=['A','B','C'])

print(df)
#He modificado los elementos de la interseccion entre la fila b y c; y la columna A y B
df.loc['b':'c','A':'B']

   A   B   C
a  0   1   2
b  3   4   5
c  6   7   8
d  9  10  11

   A  B
b  3  4
c  6  7