In [1]:
print("Hola 'mundo'")

Hola 'mundo'

In [2]:
print('"Hola" mundo')

"Hola" mundo

In [3]:
var1=10
var2=30
var3=120
var4=500
maximo=max(var1,var2,var3,var4)
print(maximo)

minimo=min(var1,var2,var3,var4)
print(minimo)

500
10

In [10]:
cad="holamundo"
maxi=max(cad)
print('La letra mas grande es: "',maxi,'"')

mini=min(cad)
print('La letra mas peque침a es: "',mini,'"')

La letra mas grande es: " u "
La letra mas peque침a es: " a "

In [11]:
a=10
b=1.2
c="Hola"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [12]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [18]:
#funcion suma
var1=10
var2=30
var3=120
var4=500
suma=sum((var1,var2,var3,var4))
print(suma)
n=suma+40
print(n)
suma=suma+50
print(suma)

660
700
710

In [19]:
x=range(0,5)
print(x)

range(0, 5)

In [22]:
x=range(0,5)
print(x)
len(x)

range(0, 5)

5

In [24]:
cad1="Hola mundo"
len(cad1)

10

In [25]:
#Definicion de una variable incorrecta
1Var=12
@var=12
var 1=12
var f=12
var*1=12
var+1=12
var-v=12

SyntaxError: invalid syntax (<ipython-input-25-1ac6689760d8>, line 2)

In [30]:
#declaracion variable correcta
ca=12
Ca=1
print(ca)
print(Ca)

CONSTANTE="Constante"
print(CONSTANTE)

va_1=12
va_a=14
print(va_1)
print(va_a)

12
1
Constante
12
14

In [31]:
def fun():
return

IndentationError: expected an indented block (<ipython-input-31-42d8244bc97a>, line 2)

In [80]:
#definicion de una funcion
def fun(parametro1,parametro2):
    #Funcion que suma dos numeros
    par=parametro1+parametro2
    print("hola")
    return par

fun(2,4)
resultado=fun(2,4)
print(resultado)
resultado=resultado*2
print(resultado)

IndentationError: unexpected indent (<ipython-input-80-1e8fe0d6c84b>, line 6)

In [46]:
var1=10
var2=20
suma=fun(var1,var2)
print(suma)

30

In [47]:
suma=fun("Hola ","mundo")
print(suma)

Hola mundo

In [37]:
prueba()

NameError: name 'prueba' is not defined

In [79]:
#Funcion con retorno
def imprime_cosas():
    print("La clase esta genial")
    print("Python es lo m치ximo")
    c=10*2
    return c

var=imprime_cosas()
print(var)

La clase esta genial
Python es lo m치ximo
20

|________|
0 1 2 3 4