In [1]:
#Pasando parametros por posicion
def sumar(a,b):
    c=a+b
    print(c)
    return c

var_externa=sumar(10,20)
print(var_externa)

30
30

In [2]:
#Pasamos argumentos por nombre
b=10
a=5
sumar(a,b)

15

15

In [3]:
#Definicion funcion sintacticamente con sentencia pass
def consultar_genero(letra_genero):pass

type(consultar_genero)
consultar_genero('M')
c=consultar_genero('M')
print(c)

None

In [4]:
#Funcion con return
def otra_suma(num1,num2):
    print(num1+num2)
    print("\n")
    print("Fin")
    return num1+num2

var_ext=otra_suma(10,20)
print(var_ext)

30


Fin
30

In [5]:
#Funcion con mas de 2 return
def otra_suma(num1,num2):
    print(num1+num2)
    print("\n")
    print("Fin")
    c=num1+num2
    return num1, num2, c

var_ext=otra_suma(10,20)
print(var_ext)

30


Fin
(10, 20, 30)

In [6]:
#Asignacion multiple
num1,num2,c=otra_suma(10,20)
print(num1)
print(num2)
print(c)

30


Fin
10
20
30

In [7]:
#Asignacion multiple
a,b,c=otra_suma(10,20)
print(a)
print(b)
print(c)
d=c*2
print(d)

30


Fin
10
20
30
60

In [8]:
#Asignacion multiple variables
var1=var2=var3=200
print(var1)
print(var2)
print(var3)

200
200
200

In [9]:
#Asignacion multiple variables
var1,var2,var3=200,300,300
print(var1)
print(var2)
print(var3)

200
300
300

In [10]:
#Asignacion multiple variables
var1,var2,var3=200,300,300, 1
print(var1)
print(var2)
print(var3)

ValueError: too many values to unpack (expected 3)

In [ ]:
#Definir una funcion con una variable interna, no se puede acceder desde el exterior
def test1():
    n=10
    print(n)
    return n
    
test1()
print(n)

In [ ]:
#Definido variable externa que puede ser utilizada dentro de la funcion
m=10
def test2():
    a=m*2
    print(a)
    print(m)

test2()

In [ ]:
#definido una variable antes de llamar la funcion
def test3():
    print(l)
    return l*2
l=10
resultado=test3()
print(resultado)

In [ ]:
#Variable interna de la funcion, es diferente a la variable externa, se crea en este caso una copia
def test4():
    x=10 #Variable que solo existe en la funcion
    print(x)
    
#Variable externa
x=5
test4()
print(x)

In [ ]:
#Variable global modificada dentro de una funcion
def test5():
    global x #Variable global que se accede desde el exterior
    x=6
    print(x)

x=23
test5()
print(x)
test5()

In [ ]:
#Variable global modificada dentro de una funcion
def test5(a,b):
    global x #Variable global que se accede desde el exterior
    x=a+b

x=23
test5(2,5)
print(x)
test5(7,6)
print(x)
x="Hola"
print(x)
x=1.2
print(x)

In [ ]:
def test6(num):
    return num, num*2, num*4, 'Hola', 1.2

v1,v2,v3,v4,v5=test6(10)
print(v1)
print(v2)
print(v3)
print(v4)
print(v5)

In [ ]:
cad="hola mundo"
print(cad[:4])

In [ ]:
def saludo():
    print("Hola mundo")
    
saludo()

In [ ]:
def mi_funcion(nombre,apellido):
    nombre_completo=nombre,apellido
    print(nombre_completo)
    
mi_funcion('David')

In [ ]:
def saludar(nombre="None",mensaje='Hola'):
    print(mensaje, nombre)
    
saludar('Jhonnyer')

In [ ]:
saludar(mensaje="Hola")
saludar()

In [ ]:
saludar(mensaje="Buen dia",nombre="Jhonnyer")

In [12]:
#Ejemplo
def my_function(fname):
    print(fname+" Gonzales")

my_function("Jhonnyer")
my_function("Luis")

Jhonnyer Gonzales
Luis Gonzales

In [14]:
my_function('12')

12 Gonzales

In [15]:
#Ejemplo
def my_function(fname):
    print(fname+1.4)

my_function(2)

3.4

In [18]:
def prueba():
    print("Hola")

prueba()

Hola

In [24]:
cad1="Hola"
cad2="Mundo"
# frase=cad1+cad2
frase=cad1+" "+cad2
print(frase)

Hola Mundo

In [28]:
#Funcion con cadena de caracteres o string
def my_function(fname,lname):
    print(fname+" "+lname)
    
my_function(lname="Zu単iga",fname="Luis")

Luis Zu単iga

In [27]:
my_function(lname="Zu単iga")

TypeError: my_function() missing 1 required positional argument: 'fname'

In [29]:
my_function("Jhonnyer","Galindez")

Jhonnyer Galindez