In [1]:
#Cadenas con formato
nombre='Liliana'
cadena_formateada='Hola %s' %nombre
print(cadena_formateada)

Hola Liliana

In [2]:
print("Esto es una letra M: %s" %'M')
print("Esto es una numero 8: %s" %8)
print("Esto es una lista: %s" %[10,30,100])

Esto es una letra M: M
Esto es una numero 8: 8
Esto es una lista: [10, 30, 100]

In [3]:
#Cadenas con formato, dos o más valorew
nombre1='Liliana'
nombre2='Catalina'
cadena_formateada='Hola %s y %s bienvenidas' %(nombre1,nombre2)
print(cadena_formateada)

Hola Liliana y Catalina bienvenidas

In [9]:
#Ancho de una cadena indicandola entre el % y la letra s
primeros_meses=['Enero','Febrero','Marzo','Abril','Mayo']
for i in primeros_meses:
    print("*%10s"%(i))

*     Enero
*   Febrero
*     Marzo
*     Abril
*      Mayo

In [11]:
#Ancho de una cadena indicandola entre el % y la letra s
primeros_meses=['Enero','Febrero','Marzo','Abril','Mayo']
for i in primeros_meses:
    print("*%-10s *"%(i))

*Enero      *
*Febrero    *
*Marzo      *
*Abril      *
*Mayo       *

In [ ]:
#Ancho de una cadena indicandola entre el % y la letra s
primeros_meses=['Enero','Febrero','Marzo','Abril','Mayo']
for i in primeros_meses:
    print("*%10s * %-10s* "%(i,i))

In [14]:
#Formatear numeros enteros
print("%s nacio en el año %d" %('Python',1991))
#Si el numero introducido no es un entero se convertira antes de ser añadido a la cadena de caracteres

Python nacio en el año 1991

In [15]:
#Formatear numeros enteros
print("%s nacio en el año %d" %('Python',1991.6577))
#Si el numero introducido no es un entero se convertira antes de ser añadido a la cadena de caracteres

Python nacio en el año 1991

In [17]:
#Formatear numeros enteros
#Si el numero introducido no es un entero se convertira antes de ser añadido a la cadena de caracteres
hexadecimal=0XA0
decimal=10.5
print("El número hexadecimal es: %d y el decimal es: %d" %(hexadecimal, decimal))

El número hexadecimal es: 160 y el decimal es: 10

In [19]:
#Formatear numeros enteros
#Si el numero introducido no es un entero se convertira antes de ser añadido a la cadena de caracteres
#Con %x ó %X se pueden representar numeros hexadecimal
#Tambien es posible utilizar codigos %e y %E para exponencial y %o para numero octal
hexadecimal=0XA0
decimal=10.5
print("El número hexadecimal es: %X y el decimal es: %d" %(hexadecimal, decimal))

El número hexadecimal es: A0 y el decimal es: 10

In [20]:
#Con %x ó %X se pueden representar numeros hexadecimal
#Tambien es posible utilizar codigos %e y %E para exponencial y %o para numero octal
numero=1000
print("%d en hexadecimal(minuscula) es: %x" %(numero,numero))
print("%d en hexadecimal(mayuscula) es: %X" %(numero,numero))
print("%d en exponencial(minuscula) es: %e" %(numero,numero))
print("%d en exponencial(mayuscula) es: %E" %(numero,numero))

1000 en hexadecimal(minuscula) es: 3e8
1000 en hexadecimal(mayuscula) es: 3E8
1000 en exponencial(minuscula) es: 1.000000e+03
1000 en exponencial(mayuscula) es: 1.000000E+03

In [22]:
#Formateo numeros decimales se usa %f
tercio=1.0/3
print(tercio)
print("Un tercio (sin decimales) es: %d"%tercio)
print("Un tercio es %f"%tercio)

0.3333333333333333
Un tercio (sin decimales) es: 0
Un tercio es 0.333333

In [23]:
#Formateo numeros decimales se usa %f, un punto y un numero indica el numero de decimales o digitod que se muestran
#en consola
tercio=1.0/3
print(tercio)
print("Un tercio es: %f"%tercio)
#Decimal con dos digitos
print("Un tercio es %.2f" %tercio)

0.3333333333333333
Un tercio es: 0.333333
Un tercio es 0.33

In [24]:
#Funcion input y cadena formateada
nombre=input("Escriba su nombre por favor: ")
print("Hola "+nombre)
print("Hola %s"%nombre)

Escriba su nombre por favor: jhonnyer
Hola jhonnyer
Hola jhonnyer