In [9]:
lista=[1,2.5,'DevCode',[5,6],4]
print(lista[1:6])
# Lst [ Inicial : Fin : IndexJump ]
#El inicio, final y el salto en este caso de dos en dos
print(lista[1:6:2])

[2.5, 'DevCode', [5, 6], 4]
[2.5, [5, 6]]

In [10]:
nombre="pepe"
edad=25
listas=[nombre,edad]
print(listas)

['pepe', 25]

In [11]:
nombre='Juan'
print(listas)

['pepe', 25]

In [13]:
#Objetos mutables dentro de las listas, modifican el valor de la lista
nombres=["Ana","Bernardo"]
edades=[22,21]
lista=[nombres,edades]
print(lista)

[['Ana', 'Bernardo'], [22, 21]]

In [14]:
nombres+=['Cristina']
print(lista)

[['Ana', 'Bernardo', 'Cristina'], [22, 21]]

In [15]:
factura=['pan','huevos',100]
print(factura[1])

huevos

In [16]:
print(len(factura))

3

In [17]:
print(len(factura)-1)

2

In [19]:
#Ultimo elemento de una lista
factura[-1]

100

In [20]:
#primer elemento
factura[-len(factura)]

'pan'

In [22]:
#Modificar una lista con el indice
factura[1]="carne"
print(factura)

['pan', 'carne', 100]

In [23]:
#Metodo append()
versiones_plone=[2.5,3.6,4,5]
versiones_plone.append(6)
print(versiones_plone)

[2.5, 3.6, 4, 5, 6]

In [25]:
#MEtodo count() verifica cuantas veces aparece un elemento en una lista
versiones_plone=[2.5,3.6,4,5,6,'Hola']
print("6 ->",versiones_plone.count(6))
print("Hola ->",versiones_plone.count('Hola'))

6 -> 1
Hola -> 1

In [27]:
#Metodo extend extiende una lista agregando un iterable al final
versiones_plone=[2.5,3.6,4,5,6,'Hola']
versiones_plone.extend([4])
print(versiones_plone)

[2.5, 3.6, 4, 5, 6, 'Hola', 4]

In [28]:
versiones_plone.extend(range(5,7))
print(versiones_plone)

[2.5, 3.6, 4, 5, 6, 'Hola', 4, 5, 6]

In [29]:
#Metodo index recibe un elemento como argumento, y devuelve la primera posicion en la lista
versiones_plone=[2.5,3.6,4,5,6,'Hola']
versiones_plone.index('Hola')

5

In [30]:
versiones_plone[2]

4

In [32]:
#El cuatro es el elemento que quiero buscar,  y el dos desde la posicion que voy a buscar
versiones_plone.index(4,2)

2

In [40]:
#El cuatro es el elemento que quiero buscar,  y el dos desde la posicion que voy a buscar
versiones_plone.index(3.6,1)

1

In [41]:
#Error si no encuentra el elemento en la lista o en el segmento permitido
versiones_plone.index(4,5)

ValueError: 4 is not in list

In [44]:
#Metodo Insert(), inserta un elemento x en la lista, en el indice i
versiones_plone=[2.5,3.6,4,5,6,'Hola']
#Posicion 2, elemento 3,7
versiones_plone.insert(2,3.7)
print(versiones_plone)

[2.5, 3.6, 3.7, 4, 5, 6, 'Hola']

In [45]:
#Metodo pop devuelve el ultimo elemento de la lista y lo borra de la misma
versiones_plone=[2.5,3.6,4,5,6,'Hola']
print(versiones_plone.pop())

Hola

In [46]:
print(versiones_plone)

[2.5, 3.6, 4, 5, 6]

In [47]:
#Opcionalmente pop puede recibir un argumento por defecto que es el elemento a borrar en la lista
print(versiones_plone.pop(1))
print(versiones_plone)

3.6
[2.5, 4, 5, 6]

In [49]:
#Metodo remove, recibe como argumento un elemento y borra su primera aparicion en la lista
versiones_plone=[2.5,3.6,4,5,6,'Hola']
print(versiones_plone)
versiones_plone.remove(2.5)
print(versiones_plone)

[2.5, 3.6, 4, 5, 6, 'Hola']
[3.6, 4, 5, 6, 'Hola']

In [50]:
#Error de valor si el elemento no se encuentra en la lisa
versiones_plone.remove(2.5)

ValueError: list.remove(x): x not in list

In [51]:
#Metodo Reverse(), invierte el orden de los elementos en una lista
versiones_plone=[2.5,3.6,4,5,6,'Hola']
print(versiones_plone)
versiones_plone.reverse()
print(versiones_plone)

[2.5, 3.6, 4, 5, 6, 'Hola']
['Hola', 6, 5, 4, 3.6, 2.5]

In [54]:
#Metodo SORT(), ordena los elementos de una lista
versiones_plone=[7,2.5,3.6,8,5,4,6]
print(versiones_plone)
versiones_plone.sort()
print(versiones_plone)

[7, 2.5, 3.6, 8, 5, 4, 6]
[2.5, 3.6, 4, 5, 6, 7, 8]

In [57]:
#Metodo SORT(), ordena los elementos de una lista
versiones_plone=['paz','Mundo','Hola','abecedario']
print(versiones_plone)
versiones_plone.sort()
print(versiones_plone)

['paz', 'Mundo', 'Hola', 'abecedario']
['Hola', 'Mundo', 'abecedario', 'paz']

In [58]:
#El metodo sort admite la opcion reverse por defecto con valor false. De tener valor True, el ordenamiento 
#se hace en sentido inverso
versiones_plone=[7,2.5,3.6,8,5,4,6]
versiones_plone.sort(reverse=True)
print(versiones_plone)

[8, 7, 6, 5, 4, 3.6, 2.5]

In [59]:
#Ejemplo iterar sobre una vista, mediante la funcion split en una cadena de string
mensaje="Hola, como estas tu"
mensaje.split()

['Hola,', 'como', 'estas', 'tu']

In [60]:
for palabra in mensaje.split():
    print(palabra)

Hola,
como
estas
tu

In [61]:
lista=mensaje.split()
print(lista)

['Hola,', 'como', 'estas', 'tu']

In [62]:
#Ejemplo de iterar sobre dos o mas secuencias
#Para iterar sobre dos o más secuencias al mismo tiempo, los valores pueden emparejarse con la funcion zip()
preguntas=['nombre','objetivo','sistema operativo']
respuestas=['Leonardo','aprender python','Linux']
for pregunta, respuesta in zip(preguntas, respuestas):
    print("¿Cuál es tu {0}, la respuesta es: {1}".format(pregunta, respuesta))

¿Cuál es tu nombre, la respuesta es: Leonardo
¿Cuál es tu objetivo, la respuesta es: aprender python
¿Cuál es tu sistema operativo, la respuesta es: Linux

In [63]:
# Variables del ejercicio (no las modifiques)
cadena_corrupta = "airotsiH,6.7,aícraG nómaR"

# Completa el ejercicio
cadena_volteada=cadena_corrupta[::-1]
print(cadena_volteada)
nombre=cadena_volteada[0:12]
nota=cadena_volteada[13:16]
materia=cadena_volteada[17:25]
cadena_formateada=nombre+" ha sacado un "+nota+" en "+materia+"."
cadena_formateada

Ramón García,7.6,Historia

'Ramón García ha sacado un 7.6 en Historia.'

In [78]:
# Variables del ejercicio (no las modifiques)
cadena_corrupta = "airotsiH,6.7,aícraG nómaR"

# Completa el ejercicio
cadena_volteada=cadena_corrupta[::-1]
print(cadena_volteada)
nombre=cadena_volteada[0:12]
nota=cadena_volteada[13:16]
materia=cadena_volteada[17:25]
lista=[nombre,nota,materia]
print(lista)
cadena_formateada=lista[0]+" ha sacado un "+lista[1]+" en "+lista[2]+"."
cadena_formateada

Ramón García,7.6,Historia
['Ramón García', '7.6', 'Historia']

'Ramón García ha sacado un 7.6 en Historia.'

In [79]:
numeros=[1,2,3,4]
datos=[12,"texto",4,5,"texto2",numeros]
#VER POSICION 1 DE LA LISTA DATOS
datos[1]
print(datos)
#lISTA CONCATENADA
num=numeros+[5,6,7,8]
print(num)
#CAMBIA UN VALOR DE LA LISTA NUMEROS POSISCION 3
numeros[3]="Fin"
numeros.append(6)
numeros.append(6*2)
numeros

[12, 'texto', 4, 5, 'texto2', [1, 2, 3, 4]]
[1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 'Fin', 6, 12]

In [83]:
# Ejemplo
letras = ['a','b','c','d','e','f']
print(letras[:3])
#Reasigna valores a los 3 primeros datos de la lista
letras[:3] = ['A','B','C']
print(letras)
#lista vacia los 3 primeros indices
letras[:3]=[]
print(letras)
#LONGITUD LISTA
len(letras)

['a', 'b', 'c']
['A', 'B', 'C', 'd', 'e', 'f']
['d', 'e', 'f']

3

In [84]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
#LISTAS ANIDADADS
r = [a,b,c]
print(r)
#vER ELEMENTO 1 DE LA LISTA 2
print()
print(r[2][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

8

In [85]:
#Ejercicio 
# no modifiques el nombre de ninguna variable, puedes crear nuevas
lista1 = [1, 12, 123]
lista2 = ["Bye", "Ciao", "Agur", "Adieu"]

# completa el ejercicio
lista1.append(1234)
lista1.append("Hola")
print(lista1)
lista2.append("Adiós")
lista2.append(1234)
print(lista2)
lista3=lista1[:4]
print(lista3)
lista4=lista2[1:5]
print(lista4)
lista5=lista4+lista3
print(lista5)

[1, 12, 123, 1234, 'Hola']
['Bye', 'Ciao', 'Agur', 'Adieu', 'Adiós', 1234]
[1, 12, 123, 1234]
['Ciao', 'Agur', 'Adieu', 'Adiós']
['Ciao', 'Agur', 'Adieu', 'Adiós', 1, 12, 123, 1234]

In [86]:
#La función llamada sum(lista) devuelve una suma de todos los elementos de la lista de la matriz en la posicion 3
matriz = [ 
    [1, 1, 1, 3],
    [2, 2, 2, 7],
    [3, 3, 3, 9],
    [4, 4, 4, 13]
]
print(matriz[-1])
#accedo a la lista 2, corregir el valor 7. Suma de la lista 1 todos los valores hasta la posicion -1,es decir: 2+2+2=6 
matriz[1][-1]=sum(matriz[1][:-1])
#accedo a la lista 4 O ULTIMA LISTA, corregir el valor 13. Suma de la lista 4 todos los valores hasta la posicion -1,es decir: 4+4+4=12 
matriz[-1][-1]=sum(matriz[-1][:-1])
matriz

[4, 4, 4, 13]

[[1, 1, 1, 3], [2, 2, 2, 6], [3, 3, 3, 9], [4, 4, 4, 12]]

# COLAS TEMATICA
http://localhost:8888/notebooks/Documentos/Curso_python/Curso_python_jhonnyer/3.%20COLECCION_DATOS/COLAS.ipynb

# Ejercicio 

Durante la planificación de un proyecto se han acordado una lista de tareas. Para cada una de estas tareas se ha asignado un orden de prioridad (cuanto menor es el número de orden, más prioridad).

¿Eres capaz de crear una estructura del tipo cola con todas las tareas ordenadas pero sin los números de orden?

Sugerencia

Para ordenar automáticamente una lista es posible utilizar el método .sort(), deberias probarlo.

In [88]:
#IMPORTAR LIBRERIA COLA 
from collections import deque

tareas=[
    [6,"Distribucion"],
    [2,"Diseño"],
    [1,"Concepción"],
    [7,"Mantenimiento"],
    [4,"Producción"],
    [3,"Planificación"],
    [5,"Pruebas"]
]

#FOR NORMAL
print("lista de tareas: \n")
for tarea in tareas:
    print(tarea[0], tarea[1])

#ORDENAR LISTA DE TAREAS CON METODO SORT()
tareas.sort()
print(tareas)

#AÑADIR LAS TAREAS ORDENADAS A UNA COLA
cola=deque()
for tarea in tareas:
    cola.append(tarea[1])

print("\n Tareas ordenadas por prioridad: \n")
for c in cola:
    print(c)

print(type(cola))
#PRIMER TAREA A REALIZAR
c=cola.popleft()
print("\n Primer tarea a realizar: ",c)

lista de tareas:

6 Distribucion
2 Diseño
1 Concepción
7 Mantenimiento
4 Producción
3 Planificación
5 Pruebas
[[1, 'Concepción'], [2, 'Diseño'], [3, 'Planificación'], [4, 'Producción'], [5, 'Pruebas'], [6, 'Distribucion'], [7, 'Mantenimiento']]

 Tareas ordenadas por prioridad:

Concepción
Diseño
Planificación
Producción
Pruebas
Distribucion
Mantenimiento
<class 'collections.deque'>

 Primer tarea a realizar:  Concepción