In [1]:
t='a','b','c','d','e'
print(t)
print(type(t))

('a', 'b', 'c', 'd', 'e')
<class 'tuple'>

In [2]:
t=('esto es una cadena','b','c','d','3',12,3.45,True,[4,5])
print(t)

('esto es una cadena', 'b', 'c', 'd', '3', 12, 3.45, True, [4, 5])

In [3]:
t[0]

'esto es una cadena'

In [4]:
#Crear tupla con un unico elemento
t1=('a',)
print(t1)
print(type(t1))

('a',)
<class 'tuple'>

In [5]:
#Forma de no definir una tupla
t2=('a')
print(t2)
print(type(t2))

a
<class 'str'>

In [6]:
#Funcion Tuple()
t=tuple()
print(t)
print(type(t))

()
<class 'tuple'>

In [7]:
t=tuple('lupines')
print(t)

('l', 'u', 'p', 'i', 'n', 'e', 's')

In [8]:
t=tuple([1,4,5,'hola',1.4])
print(t)

(1, 4, 5, 'hola', 1.4)

In [11]:
diccionario={'clave1':12,'clave2':'hola','clave3':1.34}
print(diccionario)
t=tuple(diccionario)
print(t)

{'clave1': 12, 'clave2': 'hola', 'clave3': 1.34}
('clave1', 'clave2', 'clave3')

In [14]:
#Rebanada o el slicing va tomar en cuenta el primer indice, el segundo indice no lo mostrar
t=('esto es una cadena','b','c','d','3')
t[1:4]

('b', 'c', 'd')

In [15]:
t[3]

'd'

In [17]:
#Tuplas son inmutables,  no se poden modificar
t[3]=56

TypeError: 'tuple' object does not support item assignment

In [19]:
#Una tupla no la podemos modificar los valores, pero si podemos
#Asignarle una nueva tupla
t=('esto es una cadena','b','c','d','3')
print(t)
t=('A',)+t[1:]
print(t)

('esto es una cadena', 'b', 'c', 'd', '3')
('A', 'b', 'c', 'd', '3')

In [20]:
#Comparar tuplas
(0,1,2)<(0,3,4)

True

In [21]:
#Comparar tuplas
(0,1,200000)<(0,3,4)

True

In [28]:
#Utilizado el metodo list para convertir una tupla en una lista y posteriormente ordenarla con el metodo sort()
tupla=(5,3,6,7,2,4,11,4,2,1)
print(tupla)
tupla=list(tupla)
tupla.sort()
print(tupla)
tupla=tuple(tupla)
print(tupla)

(5, 3, 6, 7, 2, 4, 11, 4, 2, 1)
[1, 2, 2, 3, 4, 4, 5, 6, 7, 11]
(1, 2, 2, 3, 4, 4, 5, 6, 7, 11)

In [25]:
dir(tupla)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [37]:
#Funcion split() que nos permite convertir un texto en una lista
#En este caso los elementos separados por un espacio
txt="but soft what light in yonder window breaks"
palabra=txt.split()
print(palabra)

['but', 'soft', 'what', 'light', 'in', 'yonder', 'window', 'breaks']

In [38]:
lista=list()
for valor in palabra:
    lista.append((len(valor),valor))

print(lista)

[(3, 'but'), (4, 'soft'), (4, 'what'), (5, 'light'), (2, 'in'), (6, 'yonder'), (6, 'window'), (6, 'breaks')]

In [32]:
lista.sort(reverse=True)
print(lista)

[(6, 'yonder'), (6, 'window'), (6, 'breaks'), (5, 'light'), (4, 'what'), (4, 'soft'), (3, 'but'), (2, 'in')]

In [34]:
res=list()
for lon,palabra in lista:
    print(lon, palabra)
    res.append(palabra)

print(res)

6 yonder
6 window
6 breaks
5 light
4 what
4 soft
3 but
2 in
['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

In [39]:
res=tuple(res)
print(res)
print(type(res))

('yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in')
<class 'tuple'>

In [40]:
#Asignacion multiple en una tupla
m=['have','fun']
x,y=m
print(x)
print(y)

have
fun

In [41]:
#Asignacion en una tupla
m=['have','fun']
x=m[0]
y=m[1]
print(x)
print(y)

have
fun

In [45]:
#Asignacion multiple en una tupla
m=['have','fun']
(x,y)=m
print(x)
print(y)

have
fun

In [46]:
#Intercambiado los valores de la tupla, especificamente de x y de y
(x,y)=y,x
print(x)
print(y)

fun
have

In [48]:
#Asignacion multiple en una tupla
m=['have','fun',1,3,5]
(a,b,c,d,e)=m
print(a)
print(b)
print(c)
print(d)
print(e)
(a,b,c)=c,b,a

have
fun
1
3
5

In [50]:
print(a)
print(b)
print(c)
print(d)
print(e)

1
fun
have
3
5

In [52]:
#Porque las variables en el lado izquierdo deben coincidir con los
#valores en el lado derecho
a,b,c=1,4,5,6

ValueError: too many values to unpack (expected 3)

In [55]:
#Funcion split()
addr='monty@python.org'
uname,domain=addr.split('@')
print(uname)
print(domain)

monty
python.org

In [54]:
variable='Hola mundo espero que esten muy bien'
l=variable.split()
print(l)

['Hola', 'mundo', 'espero', 'que', 'esten', 'muy', 'bien']

In [61]:
#Diccionarios y tuplas 
diccionario={'a':10,'c':22,'b':1}
t=list(diccionario.keys())
print(t)

['a', 'c', 'b']

In [62]:
t=list(diccionario.values())
print(t)

[10, 22, 1]

In [63]:
#Va a devolver una tupla con los elementos clave-valor y almacena en 
#una lista
t=list(diccionario.items())
print(t)

[('a', 10), ('c', 22), ('b', 1)]

In [64]:
t.sort()
print(t)

[('a', 10), ('b', 1), ('c', 22)]

In [68]:
#Usar una tupla como una clave en un diccionario
nombre='Jhonnyer'
apellido='Galindez'
numero=3223424324
dic=dict()
print(dic)
dic[nombre,apellido]=numero
print(dic)

{}
{('Jhonnyer', 'Galindez'): 3223424324}

In [72]:
#Recorrer el diccionario e imprimir resultado numero
for nom, ap in dic:
    print(nom,ap, dic[(nom,ap)])

Jhonnyer Galindez 3223424324

In [75]:
directorio=('Jhonnyer','Galindez')
print(type(directorio))
numero=3223424324
diccionario=dict()
print(diccionario)

<class 'tuple'>
{}

In [76]:
diccionario['clave']=45
print(diccionario)

{'clave': 45}

In [77]:
diccionario[directorio]=numero
print(diccionario)

{'clave': 45, ('Jhonnyer', 'Galindez'): 3223424324}

In [83]:
#Recorrer el diccionario e imprimir resultado numero
directorio=('Jhonnyer','Galindez')
numero=3223424324
diccionario=dict()
diccionario[directorio]=numero
# print(diccionario)
for nom, ap in diccionario:
    print(nom,ap, diccionario[(directorio)])

Jhonnyer Galindez 3223424324

In [86]:
#Metodo count()
valores=['python','hola',True,False,1.34,6,7,8,6,True]
print(valores.count(True))
print(valores.count('python'))

2
1

In [94]:
#Metodo index()
valores=('python','hola',True,False,1.34,6,7,8,6,True)
print(valores.index(True))
print(valores.index('python'))

2
0

In [93]:

print(valores.index(True,3))

9

In [95]:
tecnologias=('zope','plone','pyramid')
for i in range(0, len(tecnologias)):
    print(i, tecnologias[i])

0 zope
1 plone
2 pyramid

In [96]:
tecnologias=('zope','plone','pyramid')
for i in range(len(tecnologias)):
    print(i, tecnologias[i])

0 zope
1 plone
2 pyramid

In [97]:
for i, valor in enumerate(tecnologias):
    print(i, valor)

0 zope
1 plone
2 pyramid

In [99]:
#CICLO WHILE
tecnologias=('zope','plone','pyramid')
cont=0
while cont<3:
    print(cont, tecnologias[cont])
    cont+=1

0 zope
1 plone
2 pyramid