In [1]:
#Definir una tupla
t='a','b','c'
print(t)
print(type(t))

('a', 'b', 'c')
<class 'tuple'>

In [2]:
#Definir una tupla
t=('a','b','c',12,1.3,True, False, [1,5])
print(t)
print(type(t))

('a', 'b', 'c', 12, 1.3, True, False, [1, 5])
<class 'tuple'>

In [3]:
#Definir una tupla con un solo elemento
t=('a',)
print(t)
print(type(t))

('a',)
<class 'tuple'>

In [4]:
#Esta es una forma incorrecta de crear una tupla, hace falta la coma despues del valor
t2=('a')
print(t2)
print(type(t2))

a
<class 'str'>

In [5]:
#Crear una tupla vacia
t=tuple()
print(t)
print(type(t))

()
<class 'tuple'>

In [6]:
#Creado una tupla a partir de la funcion tuple()
tupla=tuple('bananas')
print(tupla)

('b', 'a', 'n', 'a', 'n', 'a', 's')

In [7]:
tupla=tuple([1,2,3,5,'hola',1.23])
print(tupla)

(1, 2, 3, 5, 'hola', 1.23)

In [8]:
#Una tupla es indexada, maneja indices para acceder a los elementos de la tupla
tupla=tuple([1,2,3,5,'hola',1.23])
print(tupla)
print(tupla[0])
print(tupla[4])

(1, 2, 3, 5, 'hola', 1.23)
1
hola

In [9]:
#Rebanada o slicing en una tupla
tupla[1:4]

(2, 3, 5)

In [10]:
#Rebanada o slicing en una tupla
tupla[1:5:2]

(2, 5)

In [11]:
tupla[4]

'hola'

In [12]:
#Las tuplas son inmutables
tupla[4]=56

TypeError: 'tuple' object does not support item assignment

In [ ]:
cad='Hola mundo'
cad[5]

In [ ]:
cad[5]=3

In [13]:
#CReamos una tupla
tupla=(1, 2, 3, 5, 'hola', 1.23)
print(tupla)

(1, 2, 3, 5, 'hola', 1.23)

In [14]:
dir(tupla)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
#Asignarle a la tupla otro valor de otra tupla
tupla=('A',)+tupla[1:]
print(tupla)

In [ ]:
#Comparacion de tuplas
(0,1,2)<(0,3,4)

In [ ]:
#Comparacion de tuplas
(0,1,20000)<(0,3,4)

In [ ]:
#Comparacion de tuplas
(0,5,2)<(0,3,4)

In [ ]:
lista=[('b',3),('c',14),('a',6),('g',4),('b',1)]
print(lista)

In [ ]:
lista.sort()
print(lista)

In [ ]:
#PATRON DSU
#Funcion split(), dividir el texto separado por espacios y las palabras las va a almacenar
#en una lista denominada palabras
txt='but soft what light in yonder window breaks'
palabras=txt.split()
print(palabras)

In [ ]:
l=list()
for valor in palabras:
    print(valor)
    l.append((len(valor),valor))
print(l)

In [ ]:
l.sort(reverse=True)
print(l)
res=list()
for long, palabra in l:
    print(long, palabra)
    res.append(palabra)    

print(res)

In [ ]:
#ASignacion multiple de tuplas
m=['have','fun']
x,y=m
print(x)
print(y)

In [ ]:
#ASignacion por medio de indices
m=['have','fun']
x=m[0]
y=m[1]
print(x)
print(y)

In [ ]:
#ASignacion multiple de tuplas
m=['have','fun']
x,y,z=m
print(x)
print(y)

In [ ]:
#ASignacion multiple de tuplas
m=['have','fun']
(x,y)=m
print(x)
print(y)

In [ ]:
print("Valor de x: ",x)
print("Valor de y: ",y)

x,y=y,x

print('\n')
print("Valor de x: ",x)
print("Valor de y: ",y)

In [ ]:
#Funcion split retorna una lista
addr='monty@python.org'
l=addr.split('@')
print(l)

In [ ]:
#Funcion split retorna una lista, pero los voy a almacenar en una tupla
addr='monty@python.org'
uname, domain=addr.split('@')
print(uname)
print(domain)

In [ ]:
#Diccionario y TUPLAS
d={'a':10,'g':1,'c':22,'b':23}
print(d)
#List() permite crear una lista 
#Funcion items() devuelve el par clave-valor
t1=list(d.items())
print(t1)

In [ ]:
#He ordenado una lista con tuplas de forma ascendente
t1.sort()
print(t1)

In [ ]:
#He ordenado una lista con tuplas de forma descendente
t1.sort(reverse=True)
print(t1)

In [ ]:
#Funcion keys() devuelve la clave
t2=list(d.keys())
print(t2)

In [ ]:
#Funcion values() devuelve el valor
t2=list(d.values())
print(t2)

In [ ]:
nombre='Jhonnyer'
apellido='Galindez'
tupla=(nombre,apellido)
print(tupla)

In [ ]:
#Asignamos un nuevo valor a un diccionario
diccionario['clave']='Valor'
print(diccionario)

In [ ]:
#TUPLAS COMO UNA CLAVE EN UN DICCIONARIO
#VOY A CREAR UN DIRECTORIO TELEFONICO
nombre='Jhonnyer'
apellido='Galindez'
numero=322334545
diccionario=dict()
print(diccionario)
diccionario[nombre,apellido]=numero
print(diccionario)

In [ ]:
nom='Juan'
apel='Burbano'
tupla=nom,apel
numero=322335667
diccionario[tupla]=numero
print(diccionario)

In [ ]:
#Recorrer el diccionario
for nombre,apellido in diccionario:
    print(nombre, apellido, diccionario[nombre,apellido])

In [ ]:
#Recorrer el diccionario
for dirw in diccionario:
    print(dirw, diccionario[dirw])

In [15]:
#funcion que me permite observar los metodos de un tipo de dato
tupla_vacia=(1,3,5)
print(tupla_vacia)

(1, 3, 5)

In [19]:
#Metodo count(), permite verificar cuantas veces esta repetido un elemento en una tupla en este caso
tupla_elementos=[1,2,4,6,7,4,67,4,66,4,6,4]
tupla_elementos.count(4)

5

In [20]:
#MEtodo index(), devuelve la primer posicion en la que se encuentra un elemento en una tupla
tupla_elementos.index(4)

2

In [21]:
#MEtodo index(), devuelve la primer posicion en la que se encuentra un elemento en una tupla
tupla_elementos.index(4,3)

5

In [23]:
#MEtodo index(), ERROR del rango de la longitud de la tupla 
tupla_elementos.index(4,20)

ValueError: 4 is not in list

In [25]:
#MEtodo index(), ERROR el elemento no se encuentra en la tupla
tupla_elementos.index(20)

ValueError: 20 is not in list

# Range (start, stop, step)

start: Donde empieza el recorrido

stop: Donde finaliza el recorrido

step: Los pasos o saltos del recorrido, es decir puede ser de 1 en uno, 2 en 2,...

for x=0;x<valor,x++

In [27]:
#Recorriendo una tupla
tecnologias=('zope','plone','pyramid')
for i in range(0,len(tecnologias)):
    print(i, tecnologias[i])

0 zope
1 plone
2 pyramid

In [28]:
#Recorriendo una tupla
tecnologias=('zope','plone','pyramid')
for i in range(len(tecnologias)):
    print(i, tecnologias[i])

0 zope
1 plone
2 pyramid

In [29]:
#Recorriendo una tupla
tecnologias=('zope','plone','pyramid')
for indice, valor in enumerate(tecnologias):
    print(indice, valor)

0 zope
1 plone
2 pyramid

In [36]:
#Recorrer la tupla mediante un ciclo while
tecnologias=('zope','plone','pyramid')
#Caracteristicas de un bucle while
#Se repite el cuerpo mientras la condiccion sea verdadera
#Variable de iteracion que me va permitir que en un momento la condicion del ciclo while sea falsa
# len(tecnologias)
x=0
while x<len(tecnologias):
    print(x, tecnologias[x])
    x+=1

0 zope
1 plone
2 pyramid

In [35]:
tecnologias=('zope','plone','pyramid')
tecnologias[1]

'plone'