In [1]:
t='a','b','c','d'
print(t)
print(type(t))

('a', 'b', 'c', 'd')
<class 'tuple'>

In [3]:
t=('cadena','a',1.24,5,True)
print(t)
print(type(t))
print(t[0])

('cadena', 'a', 1.24, 5, True)
<class 'tuple'>
cadena

In [4]:
#Crear una tupla con un solo elemento, incluir coma al final
t1=('a',)
print(t1)
print(type(t1))

('a',)
<class 'tuple'>

In [5]:
#Sin la coma al final, python trata la expresion como una cadena en parentesis
t2=('a')
print(t2)
print(type(t2))

a
<class 'str'>

In [6]:
#Funcion tuple()
tupla=tuple()
print(tupla)
print(type(tupla))

()
<class 'tuple'>

In [7]:
tupla=tuple('hola mundo')
print(tupla)

('h', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o')

In [8]:
tupla=tuple([1,4,5,6])
print(tupla)

(1, 4, 5, 6)

In [50]:
tupla = (100,"Hola",[1,2,3],-50)
tupla

(100, 'Hola', [1, 2, 3], -50)

In [51]:
print(tupla)
print(tupla[0])
print(tupla[-1])
print(tupla[2:])
print(tupla[2][-1])

(100, 'Hola', [1, 2, 3], -50)
100
-50
([1, 2, 3], -50)
3

In [9]:
tupla=tuple({'clave1':1,'clave2':4,'clave3':5,'clave4':6})
print(tupla)

('clave1', 'clave2', 'clave3', 'clave4')

In [10]:
print(tupla[:3])

('clave1', 'clave2', 'clave3')

In [11]:
tupla[3]=4

TypeError: 'tuple' object does not support item assignment

In [14]:
#No se pueden modificar elementos de una tupla, pero se pueden remplazar una tupla por otra
t=('a','b','c','d')
print(t)
t=('A',)+t[1:]
print(t)

('a', 'b', 'c', 'd')
('A', 'b', 'c', 'd')

In [15]:
#Comparacion de tuplas
(0,1,20)<(0,3,4)

True

In [16]:
#Comparacion de tuplas
(0,1,20000)<(0,3,4)

True

In [17]:
#Comparacion de tuplas
(2,1,20)<(0,3,20)

False

In [20]:
#Patron DSU
txt='but soft what light in yonder windows break'
palabras=txt.split()
print(palabras)

['but', 'soft', 'what', 'light', 'in', 'yonder', 'windows', 'break']

In [22]:
l=list()
for subc in  palabras:
    l.append((len(subc),subc))
print(l)

[(3, 'but'), (4, 'soft'), (4, 'what'), (5, 'light'), (2, 'in'), (6, 'yonder'), (7, 'windows'), (5, 'break')]

In [25]:
l.sort(reverse=True)
print(l)
res=list()

for long, pal in l:
    print(long, pal)
    res.append(pal)
print(res)

[(7, 'windows'), (6, 'yonder'), (5, 'light'), (5, 'break'), (4, 'what'), (4, 'soft'), (3, 'but'), (2, 'in')]
7 windows
6 yonder
5 light
5 break
4 what
4 soft
3 but
2 in
['windows', 'yonder', 'light', 'break', 'what', 'soft', 'but', 'in']

In [26]:
# Asignacion de tuplas
m=['have','fun']
x,y=m
print(x)
print(y)

have
fun

In [27]:
# Asignacion de tuplas
m=['have','fun']
x=m[0]
y=m[1]
print(x)
print(y)

have
fun

In [28]:
# Asignacion de tuplas
m=['have','fun']
(x,y)=m
print(x)
print(y)

have
fun

In [31]:
m=('b','a')
(a,b)=m
print(a)
print(b)
(a,b)=b,a
print('\n')
print(a)
print(b)

b
a


a
b

In [33]:
#Los valores de la izquierda y derecha deben ser iguales
a,b=1,2,3

ValueError: too many values to unpack (expected 2)

In [34]:
addr='monty@python.org'
uname,domain=addr.split('@')
print(uname)
print(domain)

monty
python.org

In [36]:
#Diccionarios y tuplas
d={'a':10,'c':22,'b':1}
t=list(d.items())
print(t)

[('a', 10), ('c', 22), ('b', 1)]

In [37]:
#Metodo sort(); ordena por orden ascendete a partir del valor de la clave
t.sort()
print(t)

[('a', 10), ('b', 1), ('c', 22)]

In [38]:
#Usando tuplas como claves en los diccionarios
# Debido a que las tuplas son hashable y las listas no, si queremos crear una clave compuesta para
# usar en un diccionario debemos usar una tupla como clave.
# Usaríamos por ejemplo una clave compuesta si quisiéramos crear un directorio
# telefónico que mapea pares appellido, nombre con números telefónicos. Asumiendo
# que hemos definido las variables apellido, nombre, y número, podríamos escribir
# una sentencia de asignación de diccionario como sigue:
apellido="Galindez"
nombre="Jhonnyer"
numero=3128243249
directorio=dict()
directorio[apellido,nombre] = numero
print(directorio)

{('Galindez', 'Jhonnyer'): 3128243249}

In [39]:
#Recorrer el directorio e imprimir resultado
for apellido, nombre in directorio:
    print(nombre, apellido, directorio[apellido,nombre])

Jhonnyer Galindez 3128243249

In [7]:
direc=("Jhonnyer","Galindez")
numero=3128243249
directorio=dict()
directorio[direc] = numero
print(directorio)

{('Jhonnyer', 'Galindez'): 3128243249}

In [8]:
for direc in directorio:
    print(direc, directorio[direc])

('Jhonnyer', 'Galindez') 3128243249

In [9]:
for nombre,apellido in directorio:
    print(nombre, apellido,directorio[nombre,apellido])

Jhonnyer Galindez 3128243249

In [11]:
for nombre,apellido in enumerate(directorio):
    print(nombre, apellido)

0 ('Jhonnyer', 'Galindez')

In [45]:
#Metodo count()
valores=('python',True,'Zope',5)
print(valores.count(True))

1

In [46]:
#Metodo index()
valores=('python',True,'Zope',5)
print(valores.index(True))

1

In [48]:
tecnologias=('zope','plone','pyramid')
for i in range(0,len(tecnologias)):
    print(i,tecnologias[i])

0 zope
1 plone
2 pyramid

In [49]:
tecnologias=('zope','plone','pyramid')
for i in range(len(tecnologias)):
    print(i,tecnologias[i])

0 zope
1 plone
2 pyramid

In [1]:
tecnologias=('zope','plone','pyramid')
for i, valor in enumerate(tecnologias):
    print(i,tecnologias[i])

0 zope
1 plone
2 pyramid

In [4]:
tecnologias=('zope','plone','pyramid')
cont=0
while cont<3:
    print(tecnologias[cont])
    cont+=1

zope
plone
pyramid