In [ ]:
#Asignacion nombre de variables correctas
var
_var
var1
var_1

In [20]:
#Variables mal declaradas
2var=2
print(2var)

SyntaxError: invalid syntax (<ipython-input-20-9feef2078276>, line 2)

In [21]:
var 2
print(var2)

SyntaxError: invalid syntax (<ipython-input-21-1bac881faf0d>, line 1)

In [22]:
var f=1
print(var f)

SyntaxError: invalid syntax (<ipython-input-22-8ae757c1f38c>, line 1)

In [23]:
@var1=3
print(@var1)

SyntaxError: invalid syntax (<ipython-input-23-98995b7c0210>, line 1)

In [24]:
var-1=120

SyntaxError: cannot assign to operator (<ipython-input-24-d1fe08191b8d>, line 1)

In [96]:
x=10
y=20
w=y+x
z=12
if w==0:
    print("Hola mundo"
else:
    print(x)
    print(z)
    print(y)

SyntaxError: invalid syntax (<ipython-input-96-21e844c684af>, line 7)

In [37]:
def suma():
    print("hola mundo")

suma()

hola mundo

In [26]:
var1=2
VAR1=3
print(var1)
print(Var1)

2
3

In [6]:
x=var1+VAR1
print(x)

5

# Calculo de una operacion de suma

In [7]:
4+5

9

In [8]:
var1=1.20
print(var1)

1.2

In [9]:
var2=5
print(var2)

5

In [10]:
var1=int(var1)
print(var1)

1

In [12]:
a=9
b=10
c=a+b

In [13]:
print(c)

19

In [14]:
c=45
print(c)

45

In [15]:
var3=120
var4=var3
print(var4)

120

In [17]:
var3=100
var4=200
print(var3,var4)
print(var3," ",var4)
print("Variables {} y {} ".format(var3,var4))
print(var3)
print(var4)

100 200
100   200
Variables 100 y 200
100
200

In [19]:
print("Hola")
print("ola"

SyntaxError: unexpected EOF while parsing (<ipython-input-19-9b9779f39ddd>, line 2)

In [40]:
#Asignacion multiple de variables
var1=var2=var3=200
print(var1,' ',var2,' ',var3)

var1=var2=var3="Hola"
print(var1,' ',var2,' ',var3)

200   200   200
Hola   Hola   Hola

In [41]:
varx, vary, varz= 10,20,30
print(varx)
print(vary)
print(varz)

10
20
30

In [43]:
2+3 #suma

5

In [44]:
#Suma retorna un float
numero1=10
numero2=9.99
numero3=numero1+numero2
print(numero3)
type(numero3)

19.990000000000002

float

In [45]:
#Suma retorna un entero
numero1=10
numero2=9
numero3=numero1+numero2
print(numero3)
type(numero3)

19

int

In [46]:
variable="Hola"
type(variable)

str

In [48]:
8+1 #suma

9

In [49]:
3*6 #multiplicacion

18

In [50]:
12/3 #division

4.0

In [51]:
12//3 #Division entera

4

In [52]:
7%3 #modulo (retorna el sobrante de la division)

1

In [55]:
x=10
if x%2==0:
    print("X es un numero par")
else:
    print("x es un numero impar")

X es un numero par

In [57]:
cuadrado=7**2 #potencia al cuadrado (7*7)
print(cuadrado)

49

In [58]:
cubico=2**3 #Potencia al cubo
print(cubico)

8

In [61]:
x=5+4
raiz=x**(1/2) #raiz cuadrada
print(raiz)

3.0

In [63]:
2*(3-1)

4

In [66]:
var1=5
var2=3.6
var3=4.7

promedio=(var1+var2+var3)/3
print(promedio)

4.433333333333334

In [67]:
2**1+1

3

In [69]:
#Cuando tienen misma precedencia se ejecuta de izquierda a derecha
5-3-1

1

In [71]:
var="Hola mundo"
len(var)

10

In [74]:
num1=10
num2=20
num3=num1+num2
print(num3)
print(type(num3))

30
<class 'int'>

In [75]:
cad1="Hola "
cad2="de nuevo"
frase=cad1+cad2
print(frase)
print(type(frase))

Hola de nuevo
<class 'str'>

In [76]:
va=1.2
print(va)
print(type(va))

1.2
<class 'float'>

In [82]:
#convertir entero a flotante
var=10
var=float(var)
print(var)
print(type(var))

#convertir flotante a entero
varz=1.256456
varz=int(varz)
print(varz)
print(type(varz))

10.0
<class 'float'>
1
<class 'int'>

In [85]:
vary='4'
print(vary)
print(type(vary))

4
<class 'str'>

In [90]:
varw="# Hola"
vart='2'
var=3 #sddfdsf
print(var)
print(varw, type(varw))
print(vart, type(vart))

3
# Hola <class 'str'>
2 <class 'str'>

In [91]:
n=input("Ingrese algo ")
print(n)
print(type(n))

Ingrese algo 45
45
<class 'str'>

In [93]:
n=float(n)
m=n+3
print(m)

48.0

In [94]:
n='Hola'
n=int(n)
print(n)

ValueError: invalid literal for int() with base 10: 'Hola'

In [95]:
n='5.6'
n=float(n)
print(n)

5.6

In [98]:
(2**2)*1/3

1.3333333333333333