In [5]:
A=10
a="Hola mundo"
print(A)
print(a)
_a=12
print(_a)

10
Hola mundo
12

In [2]:
!ass=12
print(!ass)

SyntaxError: invalid syntax (<ipython-input-2-5f5d08b732fb>, line 2)

In [3]:
1ass=12
print(1ass)

SyntaxError: invalid syntax (<ipython-input-3-be165bf70a9d>, line 1)

In [21]:
varx=1
print(varx)
vary=10
print(vary)

1
10

In [7]:
var_1=12
print(var_1)
var_abc="hola"
print(var_abc)

12
hola

In [6]:
var+s=40
print(var+s)

SyntaxError: cannot assign to operator (<ipython-input-6-643069c85454>, line 1)

In [8]:
#Declaracion de variable
#Variable entera
var1=38
print(var1)
#Variable flotante
var2=1.23
print(var2)
#Variable de string
var3="Hola"
print(var3)

38
1.23
Hola

In [9]:
print(type(var1))
print(type(var2))
print(type(var3))

<class 'int'>
<class 'float'>
<class 'str'>

In [12]:
var4=var5=var1
print(var4)
print(var5)
z=var4+var5
print(z)

38
38
76

In [15]:
# Operaciones entre un entero y un entero
a=2
b=3
c=a+b
print(c)
type(c)

# operar un entero y un flotante y viceversa
a=2
b=3.2
c=a+b
print(c)
type(c)

# operar un float y un float
a=2.3
b=3.4
c=a+b
print(c)
type(c)

5
5.2
5.699999999999999

float

In [17]:
c=int(c)
print(c)
c=float(c)
print(c)

5
5.0

In [18]:
a=10
print(a)
a="hola"
print(a)
a=1.2
print(a)

10
hola
1.2

In [23]:
#asignacion multiple de variables
#Metodo 1
var1=var2=var3=100
print(var1, var2, var3)

100 100 100

In [27]:
#asignacion multiple de variables
#Metodo 2
var1, var2, var3 =10 ,20,30

print(var1, var2, var3)

10 20 30

In [28]:
5/2

2.5

In [29]:
5//2

2

In [31]:
7%2

1

In [33]:
x=11
if x%2==0:
    print("El numero {} es par".format(x))
else:
    print("el numero {} es impar".format(x))

el numero 11 es impar

In [34]:
7**2

49

In [35]:
7**9

40353607

In [39]:
x=9
raiz=x**(1/2)
print(raiz)
print(int(raiz))

3.0
3

In [42]:
#Promedio
var1=2
var2=3
var3=4
promedio=(var1+var2+var3)/3
print(promedio)

3.0

In [77]:
#Promedio error de precedencia
var1=2
var2=3
var3=4
promedio=var1+var2+var3/3
print(promedio)
print("{:3.1f}".format(promedio))

6.333333333333333
6.3

In [45]:
x=2+3*2+(4-2)/2+3**2
print(x)

18.0

In [49]:
y=6-3+4
print(y)

7

In [50]:
#caracteres
car="Hola mundo"
print(car)
print(type(car))
len(car)

Hola mundo
<class 'str'>

10

In [55]:
#Unir cadenas y añadir espacios
cad1="Hola"
cad2="mundo"
frase=cad1+' '+cad2
print(frase)

Hola mundo

In [62]:
#imprimir un mensaje que diga hola mundo y añada el 
#año en el que estamos y un numero cualquiera 
#Hola mundo, estamos en el año 2021 y tenemos 20 años
year=2021
x=20
print("Hola mundo, estamos en el año {} y tenemos {} años".format(year,x))
print("Hola mundo, estamos en el año ",x,"y tenemos ",x,"años")

Hola mundo, estamos en el año 2021 y tenemos 20 años
Hola mundo, estamos en el año  20 y tenemos  20 años

In [99]:
#Formateo de caracteres y numeros
#Alinear a la derecha
x="Hola mundo"
print("{:>20}".format(x))
#Truncamiento de caracteres, rebanado o slicing
print("{:4}".format("Hola mundo"))
#Truncar al centro en 20 caractes, solamente imprimir los 4 primeros letras
print("{:^20.4}".format(x))

          Hola mundo
Hola mundo
        Hola

In [92]:
x="hola mundo"
y=x[5:]
print(y)

mundo

In [88]:
#Formatear numeros enteros
#imprimia un numero entero a 5 cifras y rellenarlas con cero
#150 =>  00150
# x=12345
# y=00123
# z=00145
print("{:05d}".format(150))

#Rellenar con espacios
print("{:5d}".format(15034))

#formatear a 3 numeros enteros y 2 numeros decimales, y 7 digitos
print("{:7.1f}".format(12345.02))

00150
15034
12345.0