In [1]:
def suma(a,b):
    return a+b

a=suma(30,10)
print(a)

40

In [2]:
def suma(a,b):
    c=a+b
    return c

valor=suma(30,10)
print(valor)

40

In [3]:
b=20
a=10
c=suma(a,b)
print(c)

30

In [4]:
suma(b=12,a=34)

46

In [5]:
def consultar_nombre_genero(letra_genero): pass

type(consultar_nombre_genero)

function

In [6]:
consultar_nombre_genero("M")
variable=consultar_nombre_genero('M')
print(variable)

None

In [7]:
def otra_suma(numero1,numero2):
    print(numero1+numero2)
    print("\n")
    print("Fin")
    
resultado=otra_suma(5,6)
print(resultado)

11


Fin
None

In [8]:
def otra_suma(numero1,numero2):
    print(numero1+numero2)
    print("\n")
    return numero1+numero2
    
resultado=otra_suma(5,6)
print(resultado)

11


11

In [9]:
#Realice una funcion que lea 2 numeros y lo muestr en la pantalla;
#el resultado de la suma multipliquelo por dos


def suma1(num1,num2):
    numero=num1+num2
    return numero

var1=suma1(5,6)
var2=var1*2
print(var2)

22

In [10]:
cuenta=10000
cajero=20000
v_ret=5000

if cajero>0 and cajero>cuenta:
    print("Puedes realiza una transaccion")
    if cuenta>=v_ret:
        cuenta=cuenta-v_ret
        print("Has retirado $",v_ret)
        print("El nuevo saldo es: $",cuenta)
    else:
        print("No puedes retirar dinero")
else:
    print("No puedes retirar dinero")

Puedes realiza una transaccion
Has retirado $ 5000
El nuevo saldo es: $ 5000

In [11]:
def cajero_automatico(cajero,cuenta,v_ret):
    if cajero>0 and cajero>cuenta:
        print("Puedes realiza una transaccion")
        if cuenta>=v_ret:
            cuenta=cuenta-v_ret
            cajero=cajero-cuenta
            print("Has retirado $",v_ret)
            print("El nuevo saldo es: $",cuenta)
            
        else:
            print("No puedes retirar dinero")
    else:
        print("No puedes retirar dinero")
    return cajero, cuenta
    
cuenta=10000
cajero=20000
v_ret=5000

print("El dinero del cajero es: {}. El dinero en tu cuenta es: {}" .format(cajero, cuenta))
cajero,cuenta=cajero_automatico(cajero,cuenta,v_ret)
print("El dinero del cajero es: {}. El dinero en tu cuenta es: {}" .format(cajero, cuenta))
print("\n")

cajero,cuenta=cajero_automatico(cajero,cuenta,v_ret)
print("El dinero del cajero es: {}. El dinero en tu cuenta es: {}" .format(cajero, cuenta))
print("\n")

cajero,cuenta=cajero_automatico(cajero,cuenta,v_ret)
print("El dinero del cajero es: {}. El dinero en tu cuenta es: {}" .format(cajero, cuenta))

El dinero del cajero es: 20000. El dinero en tu cuenta es: 10000
Puedes realiza una transaccion
Has retirado $ 5000
El nuevo saldo es: $ 5000
El dinero del cajero es: 15000. El dinero en tu cuenta es: 5000


Puedes realiza una transaccion
Has retirado $ 5000
El nuevo saldo es: $ 0
El dinero del cajero es: 15000. El dinero en tu cuenta es: 0


Puedes realiza una transaccion
No puedes retirar dinero
El dinero del cajero es: 15000. El dinero en tu cuenta es: 0

In [12]:
def mi_funcion(nombre,apellido):
    nombre_completo=nombre,apellido
    print(nombre_completo)
    
mi_funcion('David','Alvarez')
print(nombre)

('David', 'Alvarez')

NameError: name 'nombre' is not defined

In [ ]:
#Asignacion multiple
def mi_funcion(nombre,apellido):
    nombre_completo=nombre,apellido
    print(nombre_completo)
    return nombre, apellido, 10
    
nombre, apellido, ent=mi_funcion('David','Alvarez')
print(nombre)
print(apellido)
print(ent)

In [ ]:
var1=1
var2=var1
print(var1)
print(var2)

In [ ]:
var1=var2=var3=var4=200
print(var1,var2,var3,var4)

In [ ]:
var1, var2, var3 =10, 20, 30
print(var1)
print(var2)
print(var3)

In [ ]:
def saludar(nombre, mensaje="Hola"):
    print(mensaje,nombre)

saludar('Jhonnyer')

In [ ]:
def saludar(nombre, mensaje="Hola"):
    print(mensaje,nombre)
    return mensaje, nombre

mensaje, nombre=saludar('Jhonnyer')
print(mensaje)
print(nombre)

In [ ]:
def saludar(nombre, mensaje="Hola"):
    print(mensaje,nombre)
    return mensaje, nombre

mensaje, nombre=saludar(mensaje='Buen dia',nombre='Jhonnyer')
print(mensaje)
print(nombre)

In [ ]:
def my_function(fname):
    print(fname+' Gonzales')
    
my_function('Jhonnyer')
my_function('Luis')

In [ ]:
my_function('1')

In [ ]:
def my_function(fname, lname):
    print(fname+" "+lname)
    
my_function('Jhonnyer','Galindez')
my_function('Luis','Gonzales')

In [ ]:
my_function('Jhonnyer')

In [ ]:
#El valor de n solo existe dentro de la funcion test, por fuera de la funcion no existe
def test():
    n=10
    print(n)
    
test()
print(n)

In [ ]:
#El valor de n solo existe dentro de la funcion test, por fuera de la funcion no existe
def test(a):
    n=10+a
    print(n)
    return n
    
a=test(10)
print(a)

In [ ]:
#Acceder una variable declarada desde afuera
m=10
def test():
    a=m*2
    print(m)
    print(a)
test()

In [ ]:
def test():
    print(l)
    return l*2

l = 10
a=test() 
print(a)

In [ ]:
def prueba1():
    x=10 #variable que solo existe en la funcion
    print(x)

#Variable externa
x=5
prueba1()
print(x)

In [ ]:
def prueba2():
    global x #Variable hace referencia a una variable externa
    x=6
    print(x)
    
x=24
prueba2()
print(x)

In [ ]:
def doblar():
    global num
    num=num*2
#     num*=2
num=6
doblar()
print(num)

In [ ]:
def test(num):
    return num,num*2, num*4

num1,num2,num3=test(5)
print(num1)
print(num2)
print(num3)

In [19]:
7%2

1

In [24]:
def tipo_numero(numero): 
    c=(numero%2)
    if c==1:
        print("impar")
    elif c==0: #else if (sino si) 
        print("par")
        
tipo_numero(5)

impar

In [13]:
#### Definir una funcion que me indique si un numero ingresado por el teclado es par o impar
def par_impar():
    numero=int(input("Ingrese un numero"))
    if numero%2==0:
        print("El número {} es par".format(numero))
    else:
        print("El numero {} es impar".format(numero))
    
par_impar()

Ingrese un numero12
El número 12 es par