In [1]:
#variables tienen un reglas para declararlas, aplican para declarar o definir el nombre de una funcion
#Teniamos unas formas incorrectas de declarar una variable

#Utilizar palabras reservadas de python
#No debe empezar por n√∫meros y caracteres especiales
#No puede tener espacios
#No tener caracteres especiales como tildes
#No debe tener operadores matematicas como por ejemplo +,-,/,*
var 1=10
prin(var 1)

SyntaxError: invalid syntax (<ipython-input-1-3b74969cc8a1>, line 8)

In [15]:
#Declarar variable correctamente
var=10
Var=2
print(var)
print(Var)

var1=10
print(var1)

var_ext="Hola"
print(var_ext)

var_1=12.3
print(var_1)

10
2
10
Hola
12.3

In [14]:
# Tipos de variable
#String, esta entre comillas simples o comillas dobles
cad="Frase * *"
print(type(cad))
print(len(cad))

cad1='Hola'
print(cad1)
print(type(cad1))

cad2='1.4'
print(cad2)
print(type(cad2))

#Entero
v1=10
print(type(v1))

#Flotante
v2=12.45
print(type(v2))

<class 'str'>
9
Hola
<class 'str'>
1.4
<class 'str'>
<class 'int'>
<class 'float'>

In [6]:
#Convertir variables de un tipo a otro 

#Podemos convertir de un entero a un flotante
v1=10
v1=float(v1)
print(v1)
print(type(v1))

10.0
<class 'float'>

In [16]:
# Convertir una variable de tipo flotante a tipo entero
v2=12.3453457
v2=int(v2)
print(v2)
print(type(v2))

12
<class 'int'>

In [19]:
#Mostrando una variable de tipo flotante con 2 decimales
v3=12.34543534
v3="{:.2f}".format(v3)
print(v3)

12.35

In [22]:
#Redondear una variable de tipo flotante a un entero
v3=12.34543534
v3=round(v3)
print(v3)

v4=12.64543534
v4=round(v4)
print(v4)

12
13

In [24]:
#convertir una variable de tipo string numerico a un flotante o a un entero
#Convertido de un string a un tipo flotante
a='12.4'
print(type(a))
a=float(a)
print(a)
print(type(a))

<class 'str'>
12.4
<class 'float'>

In [25]:
#convertir una variable de tipo string numerico a un flotante o a un entero
#Convertido de un string a un tipo entero
a='12'
print(type(a))
a=int(a)
print(a)
print(type(a))

<class 'str'>
12
<class 'int'>

In [26]:
#No podemos hacer una conversion de tipo string a un flotante o a un entero cuando es una letra o una frase
a='Hola'
print(type(a))
a=int(a)
print(a)
print(type(a))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'Hola'

In [28]:
#Finalmente, podemos convertir de un entero o un flotante a un string
a=10 #Entero
b=12.45 #Flotante
d=a+b
print(d)

a=str(a)
b=str(b)
c=a+" "+b
print(c)
print(type(a))
print(type(b))
print(type(c))

22.45
10 12.45
<class 'str'>
<class 'str'>
<class 'str'>

# Funciones

In [31]:
#Bloque de codigo que me permite ejecutar una sentencias cuando la funcion es llamada
# Definir una funcion sin parametros
def saludo():
    print("Hola mundo")
#Comando para llamar o invocar una funcion. Nombre de la funcion, seguido con 2 parentesis
saludo()

Hola mundo

In [33]:
#Bloque de codigo que me permite ejecutar una sentencias cuando la funcion es llamada
# Definir una funcion sin parametros, pero que utiliza la sentencia return
def saludo():
    print("Hola mundo")
    return 10
#Comando para llamar o invocar una funcion. Nombre de la funcion, seguido con 2 parentesis
var_ext=saludo()
print(var_ext)

Hola mundo
10

In [34]:
#Bloque de codigo que me permite ejecutar una sentencias cuando la funcion es llamada
# Definir una funcion sin parametros, pero que utiliza la sentencia return
def saludo():
    print("Hola mundo")

#Comando para llamar o invocar una funcion. Nombre de la funcion, seguido con 2 parentesis
var_ext=saludo()
print(var_ext)

Hola mundo
None

In [35]:
#Bloque de codigo que me permite ejecutar una sentencias cuando la funcion es llamada
# Definir una funcion sin parametros, pero que utiliza la sentencia return
def saludo():
    print("Hola mundo")
    c=10*2
    return c
#Comando para llamar o invocar una funcion. Nombre de la funcion, seguido con 2 parentesis
var_ext=saludo()
print(var_ext)

Hola mundo
20

In [39]:
#Funcion con parametros

def suma(a,b):
    c=a+b
#     print(c)
    return c
#Argumentos por posicion
var=suma(10,20)
print("El valor de var es: ",var)

El valor de var es:  30

In [40]:
#Argumentos por nombre
a=12
b=45.3
var1=suma(a,b)
print(var1)

57.3

In [41]:
#Argumentos por nombre
a="Hola "
b="mundo"
var1=suma(a,b)
print(var1)

Hola mundo

In [45]:
#Argumentos por nombre, error no puedo unir un string con un dato numerico
a="Hola "
b=3.4
var1=suma(a,b)
print(var1)

TypeError: can only concatenate str (not "float") to str

In [53]:
#argumentos por keywords, que hacen referencia a los parametros de la funcion.
#Estas utilizan un formato clave-valor
def notas(codigo:str,n1:float,n2:float,n3:float,n4:float):
#     suma=n1+n2+n3+n4
    minimo=min(n1,n2,n3,n4)
    print("La nota minima fue: ",minimo)
    maximo=max(n1,n2,n3,n4)
    print("La nota maximo fue: ",maximo)
    resta=maximo-minimo
    print("La resta entre la nota maxima y la nota minima es: ",resta)
    suma=sum((n1,n2,n3))
    print(suma)
    print("El estudiante con el codigo {} tiene una sumatoria de notas de: {}".format(codigo,suma))
    
codigo="Est12345"
n1=3.4
n2=4
n3=4.6
n4=3.8

notas(n1=n1,n2=n2,n3=n3,n4=n4,codigo=codigo)

La nota minima fue:  3.4
La nota maximo fue:  4.6
La resta entre la nota maxima y la nota minima es:  1.1999999999999997
12.0
El estudiante con el codigo Est12345 tiene una sumatoria de notas de: 12.0